<p id="notice"><%= notice %></p>

<p>
  <strong>Genero:</strong>
  <%= @client.gender %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Sobrenome:</strong>
  <%= @client.lastname %>
</p>

<p>
  <strong>Nacionalidade:</strong>
  <%= @client.citizenship %>
</p>

<p>
  <strong>Estadocivil:</strong>
  <%= @client.civilstatus %>
</p>

<p>
  <strong>Capacidade:</strong>
  <%= @client.capacity %>
</p>

<p>
  <strong>Profissao:</strong>
  <%= @client.profession %>
</p>

<p>
  <strong>Empresa atual:</strong>
  <%= @client.company %>
</p>

<p>
  <strong>Nascimento:</strong>
  <%= @client.birth %>
</p>

<p>
  <strong>Mae:</strong>
  <%= @client.mothername %>
</p>

<p>
  <strong>Nb:</strong>
  <%= @client.number_benefit %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @client.general_register %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @client.social_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @client.address %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @client.city %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @client.state %>
</p>

<p>
  <strong>Banco:</strong>
  <%= @client.bank %>

  <strong>Agencia:</strong>
  <%= @client.agency %>

  <strong>Conta:</strong>
  <%= @client.account %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @client.zip %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @client.telephone %>
</p>

<p>
  <strong>Documentos:</strong>
  <%= @client.documents["document_type"] %>
</p>

<p>
  <strong>Documentos Link:</strong>
  <%= @client.documents["aws_link"] %>
</p>

<p>
  <%= link_to "Baixar Procuração", @url, class: "btn btn-warning" %>
</p>

<h1>Tarefas Pendentes</h1>
<p>
  <%= "Tarefa do cliente" %>
</p>
<%= link_to 'New Work', new_work_path(@client) %>
<%= link_to 'New Job', new_job_path(@client) %>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
