<nav class="navbar navbar-light">
  <%= image_tag('logo_nome.svg', id:'logo-nome')%>
  <div class="">
    <h1>Área do cliente</h1>
  </div>
</nav>

<div class="main-container">

  <div id="content-fluid">

    <h2 class="header-client-area">Olá <%= @client.name %></h2>
    <%= button_to destroy_customer_session_path, method: :delete, class:"header-client-area" do %>
      <i class="fa fa-sign-out"></i>
    <% end %>
    <p>Abaixo você encontra suas informações pessoais e as atualizações dos seus processos</p>

    <article class="personal-data">
      <% if @client_type == 'pf' %>
        <%= render partial: 'show_pf' %>
      <% elsif @client_type == 'pj' %>
        <%= render partial: 'show_pj' %>
      <% elsif @client_type == 'cont' %>
        <%= render partial: 'show_cont' %>
      <% elsif @client_type == 'rep' %>
        <%= render partial: 'show_rep' %>
      <% end %>
    </article>

    <h3 class="h-line">Meus processos </h3>

    <% @works.each do |work| %>

      <div class="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#work-<%= work.id %>" aria-expanded="true" aria-controls="collapseOne">
                <%=  work.number + ' - ' + work.subject + ' - ' + work.action %>
                <i class="fa fa-eye"></i>
              </button>
            </h5>
          </div>

          <div id="work-<%= work.id %>" class="collapse updatings" aria-labelledby="headingOne" data-parent="#accordion">

            <div class="card-body">
              <div class="sub-data">
                <p class="h-line"> <b>Envolvidos:</b> </p>
                <% work.clients.each_with_index do |wc, index| %>
                    <p><%= index+1 %> - <%= wc.name %></p>
                <% end %>
              </div>

              <div class="sub-data">
                <p class="h-line"> <b>Honorários</b> </p>

                <% if work.rate_percentage_exfield != 'Campo Vazio'%>
                  <p> <b>Percentual:</b> <%= work.rate_percentage_exfield %>%</p>
                <% end %>

                <% if work.rate_fixed != 'Campo Vazio'%>
                <p>   <b>Honorários Fixos:</b> <%= work.rate_fixed %></p>
                <% end %>

                <% if work.rate_fixed_exfield != 'Campo Vazio'%>
                  <p> <b>Valor Fixo:</b> R$<%= work.rate_fixed_exfield %></p>
                <% end %>

                <p> <b>Parcelamento:</b> <%= work.rate_parceled %></p>

                <% if !work.rate_parceled_exfield.blank? %>
                  <p> <b>Detalhes do parcelamento:</b> <%= work.rate_parceled_exfield %> </p>
                <% end %>
              </div>

              <table class="table table-striped">
                <tbody>
                  <% if updatings(work.work_updates).blank? %>
                  <tr>
                    <td colspan="2">Sem atualizações no momento.</td>
                  </tr>

                  <% else %>

                    <% updatings(work.work_updates).each do |upd| %>
                    <tr>
                      <td scope="row"><%= l(upd.created_at, :format => :updating) %></td>
                      <td> <%= upd.description %> </td>
                    </tr>
                    <% end %>

                  <% end %>
                </tbody>

              </table>

            </div>

            <div id="documents">
              <p class="h-line"> <b> Meus documentos </b> </p>
              <% if retrieve_doc_url(work).nil? %>
                <p class="btn btn-info disabled">Não há documentos emitidos</p>
              <% else %>
                <%= link_to retrieve_doc_url(work), class: "btn btn-info" do %>
                <i class="fa fa-download"></i> Documentos x
                <% end %>
              <% end %>
            </div>

          </div>
        </div>


      </div>
    <% end %>

  </div>

</div>
