
<%= simple_form_for(@lawyer) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :genero %>
    <%= f.input :rg %>
    <%= f.input :cpf %>
    <%= f.input :oab %>
    <%= f.input :nome %>
    <%= f.input :sobrenome %>
    <%= f.input :nacionalidade %>
    <%= f.input :estadocivil %>
    <%= f.input :nascimento %>
    <%= f.input :mae %>
    <%= f.input :email %>
    <%= f.input :endereco %>
    <%= f.input :cidade %>
    <%= f.input :estado %>
    <%= f.input :telefone %>
    <%= f.input :email %>
    <%= f.input :banco %>
    <%= f.input :telefone %>
    <%= f.input :agencia %>
    <%= f.input :conta %>
    <%= f.input :cep %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
