<%= simple_form_for(@lawyer) do |form| %>

  <div class="field">
    <%= form.input :gender %>
  </div>

  <div class="field">
    <%= form.input :general_register %>
  </div>

  <div class="field">
    <%= form.input :social_number %>
  </div>

  <div class="field">
    <%= form.input :oab_number %>
  </div>

  <div class="field">
    <%= form.input :name %>
  </div>

  <div class="field">
    <%= form.input :lastname %>
  </div>

  <div class="field">
    <%= form.input :citizenship %>
  </div>

  <div class="field">
    <%= form.input :civilstatus %>
  </div>

  <div class="field">
    <%= form.input :birth %>
  </div>

  <div class="field">
    <%= form.input :mothername %>
  </div>

  <div class="field">
    <%= form.input :email %>
  </div>

  <div class="field">
    <%= form.input :adress %>
  </div>

  <div class="field">
    <%= form.input :city %>
  </div>

  <div class="field">
    <%= form.input :state %>
  </div>

  <div class="field">
    <%= form.input :telephone %>
  </div>

  <div class="field">
    <%= form.input :email %>
  </div>


  <div class="field">
    <%= form.input :bank %>
  </div>

  <div class="field">
    <%= form.input :agency %>
  </div>

    <div class="field">
    <%= form.input :account %>
  </div>

    <div class="field">
    <%= form.input :zip %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
