<p id="notice"><%= notice %></p>

<h1>Lawyers</h1>

<table>
  <thead>
    <tr>
      <th>Genero</th>
      <th>Rg</th>
      <th>Cpf</th>
      <th>Oab</th>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Nacionalidade</th>
      <th>Estadocivil</th>
      <th>Nascimento</th>
      <th>Mae</th>
      <th>Email</th>
      <th>Endereco</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th>Telefone</th>
      <th>Email</th>
      <th>Banco</th>
      <th>Telefone</th>
      <th>Agencia</th>
      <th>Conta</th>
      <th>Cep</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lawyers.each do |lawyer| %>
      <tr>
        <td><%= lawyer.genero %></td>
        <td><%= lawyer.rg %></td>
        <td><%= lawyer.cpf %></td>
        <td><%= lawyer.oab %></td>
        <td><%= lawyer.nome %></td>
        <td><%= lawyer.sobrenome %></td>
        <td><%= lawyer.nacionalidade %></td>
        <td><%= lawyer.estadocivil %></td>
        <td><%= lawyer.nascimento %></td>
        <td><%= lawyer.mae %></td>
        <td><%= lawyer.email %></td>
        <td><%= lawyer.endereco %></td>
        <td><%= lawyer.cidade %></td>
        <td><%= lawyer.estado %></td>
        <td><%= lawyer.telefone %></td>
        <td><%= lawyer.email %></td>
        <td><%= lawyer.banco %></td>
        <td><%= lawyer.telefone %></td>
        <td><%= lawyer.agencia %></td>
        <td><%= lawyer.conta %></td>
        <td><%= lawyer.cep %></td>
        <td><%= link_to 'Show', lawyer %></td>
        <td><%= link_to 'Edit', edit_lawyer_path(lawyer) %></td>
        <td><%= link_to 'Destroy', lawyer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lawyer', new_lawyer_path %>
