<p id="notice"><%= notice %></p>

<p>
  <strong>Genero:</strong>
  <%= @lawyer.genero %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @lawyer.rg %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @lawyer.cpf %>
</p>

<p>
  <strong>Oab:</strong>
  <%= @lawyer.oab %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @lawyer.nome %>
</p>

<p>
  <strong>Sobrenome:</strong>
  <%= @lawyer.sobrenome %>
</p>

<p>
  <strong>Nacionalidade:</strong>
  <%= @lawyer.nacionalidade %>
</p>

<p>
  <strong>Estadocivil:</strong>
  <%= @lawyer.estadocivil %>
</p>

<p>
  <strong>Nascimento:</strong>
  <%= @lawyer.nascimento %>
</p>

<p>
  <strong>Mae:</strong>
  <%= @lawyer.mae %>
</p>

<p>
  <strong>Email:</strong>
  <%= @lawyer.email %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @lawyer.endereco %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @lawyer.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @lawyer.estado %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @lawyer.telefone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @lawyer.email %>
</p>

<p>
  <strong>Banco:</strong>
  <%= @lawyer.banco %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @lawyer.telefone %>
</p>

<p>
  <strong>Agencia:</strong>
  <%= @lawyer.agencia %>
</p>

<p>
  <strong>Conta:</strong>
  <%= @lawyer.conta %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @lawyer.cep %>
</p>

<%= link_to 'Edit', edit_lawyer_path(@lawyer) %> |
<%= link_to 'Back', lawyers_path %>
