<%= simple_form_for(@office) do |form| %>


  <div class="field">
    <%= form.input :name %>
  </div>

  <div class="field">
    <%= form.input :oab %>
  </div>

  <div class="field">
    <%= form.input :cnpj_number %>
  </div>

  <div class="field">
    <%= form.input :society %>
  </div>

  <div class="field">
    <%= form.input :foundation %>
  </div>

  <div class="field">
    <%= form.input :adress %>
  </div>

  <div class="field">
    <%= form.input :city %>
  </div>

  <div class="field">
    <%= form.input :state %>
  </div>

  <div class="field">
    <%= form.input :zip %>
  </div>

  <div class="field">
    <%= form.input :site %>
  </div>

  <div class="field">
    <%= form.input :telephone %>
  </div>

  <div class="field">
    <%= form.input :bank %>
  </div>

  <div class="field">
    <%= form.input :agency %>
  </div>

  <div class="field">
    <%= form.input :account %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
