<div class="col-md-12 col-sm-12">
  <div class="x_panel">
    <div class="x_title clearfix">
      <h1 class="pull-left"><%= @office.name %></h1>

    </div>

    <div class="x_content">

      <div class="col-md-12">

          <section class="col-md-4">

            <h2 class="pull-left col-md-12 h-line">
              <i class="fa fa-user"></i>
              <b>Informações da Escritório</b>
            </h2>

            <span class="col-md-12">
              <b>Nome:</b>
              <%= @office.name %>
            </span>

            <span class="col-md-12">
              <b>OAB:</b>
              <%= @office.oab %>
            </span>

            <span class="col-md-12">
              <b>CNPJ:</b>
              <%= @office.cnpj_number %>
            </span>

            <span class="col-md-12">
              <b>Tipo:</b>
              <%= @office.society %>
            </span>

            <span class="col-md-12">
              <b>Fundação:</b>
              <%= @office.foundation %>
            </span>

        </section>

        <section class="col-md-4">

          <h2 class="pull-left col-md-12 h-line">
            <i class="fa fa-home"></i>
            <b>Endereço</b>
          </h2>

          <span class="col-md-12">
            <b>Rua/Av.:</b>
            <%= @office.address %>
          </span>

          <span class="col-md-12">
            <b>Cidade:</b>
            <%= @office.city %>
          </span>

          <span class="col-md-12">
            <b>Estado:</b>
            <%= @office.state %>
          </span>

          <span class="col-md-12">
            <b>CEP::</b>
            <%= @office.zip %>
          </span>

        </section>

        <section class="col-md-4">

          <h2 class="pull-left col-md-12 h-line">
            <i class="fa fa-asterisk"></i>
            <b>Informações Adicionais</b>
          </h2>

          <span class="col-md-12">
            <b>Telefone:</b>
            <%= @office.telephone %>
          </span>

          <span class="col-md-12">
            <b>Site:</b>
            <%= @office.site %>
          </span>

          <span class="col-md-12">
            <b>Email:</b>
            <%= @office.email %>
          </span>

        </section>

        <section class="col-md-4">

          <h2 class="pull-left col-md-12 h-line">
            <i class="fa fa-university"></i>
            <b>Informações Bancárias</b>
          </h2>


          <% if @office.bank %>
            <span class="col-md-12">
              <b>Banco:</b>
              <%= @office.bank.name %>
            </span>

            <span class="col-md-12">
              <b>Agencia:</b>
              <%= @office.bank.agency %>
            </span>

            <span class="col-md-12">
              <b>Conta:</b>
              <%= @office.bank.account %>
            </span>

          <% else %>
            <i class="fa fa-times"></i>
            <p class="in-line">Não há conta cadastrada</p>
          <% end %>

        </section>

  	  </div>

  	</div>

  </div>
</div>
