<p>
  <strong>Nome:</strong>
  <%= @office.name %>
</p>

<p>
  <strong>Oab:</strong>
  <%= @office.oab %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @office.cnpj_number %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @office.society %>
</p>

<p>
  <strong>Fundacao:</strong>
  <%= @office.foundation %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @office.address %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @office.city %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @office.state %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @office.zip %>
</p>

<p>
  <strong>Site:</strong>
  <%= @office.site %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @office.telephone %>
</p>


<p>
  <strong>Email:</strong>
  <%= @office.email %>
</p>

<p>
  <strong>Tipo de escritório:</strong>
  <%= description_office_type(@office.office_type_id) %>
</p>

<% if @office.bank %>
  <p>
    <strong>Banco:</strong>
    <%= @office.bank.name %>
  </p>

  <p>
    <strong>Agencia:</strong>
    <%= @office.bank.agency %>
  </p>

  <p>
    <strong>Conta:</strong>
    <%= @office.bank.account %>
  </p>
<% else %>
  <i class="fa fa-times"></i>
  <p class="in-line">Não há conta cadastrada</p>
<% end %>

<%= link_to 'Edit', edit_office_path(@office) %> |
<%= link_to 'Back', offices_path %>
