<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @escritorio.name %>
</p>

<p>
  <strong>Oab:</strong>
  <%= @escritorio.oab %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @escritorio.cnpj_number %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @escritorio.type %>
</p>

<p>
  <strong>Fundacao:</strong>
  <%= @escritorio.foundation %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @escritorio.adress %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @escritorio.city %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @escritorio.state %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @escritorio.zip %>
</p>

<p>
  <strong>Site:</strong>
  <%= @escritorio.site %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @escritorio.telephone %>
</p>

<p>
  <strong>Banco:</strong>
  <%= @escritorio.bank %>
</p>

<p>
  <strong>Agencia:</strong>
  <%= @escritorio.agency %>
</p>

<p>
  <strong>Conta:</strong>
  <%= @escritorio.account %>
</p>

<%= link_to 'Edit', edit_office_path(@office) %> |
<%= link_to 'Back', offices_path %>
