<%= form_with(model: escritorio, local: true) do |form| %>
  <% if escritorio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(escritorio.errors.count, "error") %> prohibited this escritorio from being saved:</h2>

      <ul>
      <% escritorio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :oab %>
    <%= form.text_field :oab %>
  </div>

  <div class="field">
    <%= form.label :cnpj %>
    <%= form.number_field :cnpj %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.number_field :tipo %>
  </div>

  <div class="field">
    <%= form.label :fundacao %>
    <%= form.date_select :fundacao %>
  </div>

  <div class="field">
    <%= form.label :endereco %>
    <%= form.text_field :endereco %>
  </div>

  <div class="field">
    <%= form.label :cidade %>
    <%= form.text_field :cidade %>
  </div>

  <div class="field">
    <%= form.label :estado %>
    <%= form.text_field :estado %>
  </div>

  <div class="field">
    <%= form.label :cep %>
    <%= form.number_field :cep %>
  </div>

  <div class="field">
    <%= form.label :site %>
    <%= form.text_field :site %>
  </div>

  <div class="field">
    <%= form.label :telefone %>
    <%= form.number_field :telefone %>
  </div>

  <div class="field">
    <%= form.label :banco %>
    <%= form.number_field :banco %>
  </div>

  <div class="field">
    <%= form.label :agencia %>
    <%= form.number_field :agencia %>
  </div>

  <div class="field">
    <%= form.label :conta %>
    <%= form.number_field :conta %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
