<p id="notice"><%= notice %></p>

<h1>Escritorios</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Oab</th>
      <th>Cnpj</th>
      <th>Tipo</th>
      <th>Fundacao</th>
      <th>Endereco</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th>Cep</th>
      <th>Site</th>
      <th>Telefone</th>
      <th>Banco</th>
      <th>Agencia</th>
      <th>Conta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @escritorios.each do |escritorio| %>
      <tr>
        <td><%= escritorio.nome %></td>
        <td><%= escritorio.oab %></td>
        <td><%= escritorio.cnpj %></td>
        <td><%= escritorio.tipo %></td>
        <td><%= escritorio.fundacao %></td>
        <td><%= escritorio.endereco %></td>
        <td><%= escritorio.cidade %></td>
        <td><%= escritorio.estado %></td>
        <td><%= escritorio.cep %></td>
        <td><%= escritorio.site %></td>
        <td><%= escritorio.telefone %></td>
        <td><%= escritorio.banco %></td>
        <td><%= escritorio.agencia %></td>
        <td><%= escritorio.conta %></td>
        <td><%= link_to 'Show', escritorio %></td>
        <td><%= link_to 'Edit', edit_escritorio_path(escritorio) %></td>
        <td><%= link_to 'Destroy', escritorio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Escritorio', new_escritorio_path %>
