<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @escritorio.nome %>
</p>

<p>
  <strong>Oab:</strong>
  <%= @escritorio.oab %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @escritorio.cnpj %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @escritorio.tipo %>
</p>

<p>
  <strong>Fundacao:</strong>
  <%= @escritorio.fundacao %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @escritorio.endereco %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @escritorio.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @escritorio.estado %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @escritorio.cep %>
</p>

<p>
  <strong>Site:</strong>
  <%= @escritorio.site %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @escritorio.telefone %>
</p>

<p>
  <strong>Banco:</strong>
  <%= @escritorio.banco %>
</p>

<p>
  <strong>Agencia:</strong>
  <%= @escritorio.agencia %>
</p>

<p>
  <strong>Conta:</strong>
  <%= @escritorio.conta %>
</p>

<%= link_to 'Edit', edit_escritorio_path(@escritorio) %> |
<%= link_to 'Back', escritorios_path %>
