<footer>

  <div>
    <%= link_to (image_tag('logo_colorido.png', id:'l')), pages_dashboard_path %>

    <p>Tecnologia para uma vida mais fácil.</p>
  </div>

  <div>
    <h1 class="h-line">ProcStudio 2020</h1>
    <b>Licenciado Para <%= current_user.office.name %></b>

    <p>
      <%= footer_address %>
    </p>

    <p>
      <b>Telefone: </b><%= footer_phone %>
    </p>
  </div>

  <div>
    <h1 class="h-line">Links Úteis</h1>
    <%= link_to 'Work', works_path %>
    <%= link_to 'Clientes', clients_path %>
    <%= link_to 'Usuários', profile_index_path %>
    <%= link_to 'Escritórios', offices_path %>
  </div>

  <div>
    <h1 class="h-line">Mídias Sociais</h1>
    <p>
      <i class="fa fa-home" aria-hidden="true"></i>
      <%= current_user.office.site %>
    </p>

    <a href="#" class="icon-footer"><i class="fa fa-facebook-square"></i></a>
    <a href="#" class="icon-footer"><i class="fa fa-twitter-square"></i></a>
    <a href="#" class="icon-footer"><i class="fa fa-linkedin-square"></i></a>
  </div>

</footer>
