<div class="col-md-3 left_col menu_fixed">
  <div class="left_col scroll-view">
    <div class="navbar nav_title logo" style="border: 0;">

      <!-- <span class="site_title"> -->
        <%= link_to (image_tag('logo_branca.png', id:'logo-bola')), pages_dashboard_path %>
        <!-- <span id="title-logo">ProcStudio</span> -->
    </div>

    <div class="clearfix"></div>

    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

      <div class="menu_section">
        <ul class="nav side-menu">
          <li>
            <%= link_to pages_dashboard_path do  %>
              <i class="fa fa-home"></i> Home
            <% end %>
          </li>
        </ul>
      </div>

      <div class="menu_section">

        <h3>Configs</h3>
        <ul class="nav side-menu">

          <li>
            <%= link_to new_client_path do %>
              <i class="fa fa-male"></i> Novo Cliente
              <span class="fa fa-plus"></span>
            <% end %>
          </li>

          <li>
            <%= link_to new_work_path do %>
              <i class="fa fa-gavel"></i> Novo Work
              <span class="fa fa-plus"></span>
            <% end %>
          </li>

        </ul>
      </div>

      <div class="menu_section">

        <h3>Admin</h3>
        <ul class="nav side-menu">

          <li>
            <%= link_to clients_path do %>
              <i class="fa fa-users"></i> Clientes
              <span class="fa fa-chevron-right"></span>
            <% end %>
          </li>

          <li>
            <%= link_to works_path do %>
              <i class="fa fa-gavel"></i> Works
              <span class="fa fa-chevron-right"></span>
            <% end %>
          </li>

          <li>
            <%= link_to profile_index_path do %>
              <i class="fa fa-group"></i> Usuários
              <span class="fa fa-chevron-right"></span>
            <% end %>
          </li>

          <li>
            <%= link_to offices_path do %>
              <i class="fa fa-university"></i> Escritório
              <span class="fa fa-chevron-right"></span>
            <% end %>
          </li>

        </ul>
      </div>

    </div>

  </div>
</div>

<div class="top_nav clearfix">
    <div class="nav_menu">
        <div class="nav toggle">
          <a id="menu_toggle"><i class="fa fa-bars"></i></a>
        </div>
        <nav class="nav navbar-nav">
        <ul class=" navbar-right">
          <li class="nav-item dropdown open text-right" style="padding-left: 15px;">
            <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
              <% if user_signed_in? %>
                <b><%= current_user.user_profile.nil? ? ' Atualize seu cadastro ' : current_user.user_profile.full_name %></b>
                <% else %>
                 <div> usuario sem log </div>
              <% end %>
            </a>

            <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">

              <%= link_to "Perfil", edit_profile_path(current_user.id), class:"dropdown-item" %>

              <%= link_to destroy_user_session_path, method: :delete, class:"dropdown-item" do %>
                <i class="fa fa-sign-out pull-right"></i> Sair
              <% end %>

            </div>

            <div class="nav-item">
              <% if user_signed_in? %>
                <span><b>Atribuições:</b></span>
                <%= current_user.lawyer_role ? 'Advogado,' : '' %>
                <%= current_user.paralegal_role ? 'Paralegal,' : '' %>
                <%= current_user.secretary_role ? 'Secretária,' : '' %>
                <%= current_user.intern_role ? 'Estagiário' : '' %>
              <% end %>
            </div>
          </li>

        </ul>
      </nav>
    </div>
  </div>
