<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @person.address %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @person.birth %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @person.capacity %>
</p>

<p>
  <strong>Citizenship:</strong>
  <%= @person.citizenship %>
</p>

<p>
  <strong>City:</strong>
  <%= @person.city %>
</p>

<p>
  <strong>Civilstatus:</strong>
  <%= @person.civilstatus %>
</p>

<p>
  <strong>Company:</strong>
  <%= @person.company %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @person.lastname %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @person.gender %>
</p>

<p>
  <strong>General register:</strong>
  <%= @person.general_register %>
</p>

<p>
  <strong>Mothername:</strong>
  <%= @person.mothername %>
</p>

<p>
  <strong>Number benefit:</strong>
  <%= @person.number_benefit %>
</p>

<p>
  <strong>Oab number:</strong>
  <%= @person.oab_number %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @person.profession %>
</p>

<p>
  <strong>Social number:</strong>
  <%= @person.social_number %>
</p>

<p>
  <strong>State:</strong>
  <%= @person.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @person.zip %>
</p>

<p>
  <strong>Status:</strong>
  <%= @person.status %>
</p>

<p>
  <strong>Life:</strong>
  <%= @person.life %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
