<div class="col-md-12 col-sm-12">
  <div class="x_panel">

    <div class="x_title">
      <h2><%= action %></h2>
      <div class="clearfix"></div>
    </div>

    <div class="x_content">

      <%= form_with model:@work, local: true do |f| %>

        <div class="col-md-12">

          <div class="col-md-4 grid">
            <b><%= f.label "Procedimento" %></b>
            <%= f.collection_check_boxes :procedure_ids, options_for_procedure, :id, :description do |cb|
              cb.label { cb.check_box + cb.text }
            end %>
          </div>

        </div>

        <div class="col-md-12">

          <fieldset class="col-md-4 radio_buttons optional work_subject grid">
            <legend class="col-form-label pt-0"><b>Assunto</b></legend>

            <%= f.collection_radio_buttons :subject, options_for_subject, :second, :first do |b|
              b.label { b.radio_button(class:"subject") + b.text }
            end %>

            <p><small class="rmk-text">* Escolha a área e depois a subárea de atuação.</small></p>
          </fieldset>

          <div id="subject-fields" data-action-for-subject="<%= @work.action %>">

          </div>

        </div>

        <div class="col-md-12">

          <div class="col-md-6">
            <b><%= f.label "Número do Requerimento ou Processo" %></b>
            <%= f.number_field :number, class:"form-control", min: 0 %>
            <p><small class="rmk-text">* Apenas para casos em que já existe o processo.</small></p>
          </div>

        </div>

        <div class="col-md-12">

          <div class="col-md-6 grid" id="conds-rates">

            <label id="label-rate-work" for="work_Honorários De Trabalho ou Êxito" data-exfield="<%= @work.rate_fixed_exfield %>" data-percentage="<%= @work.rate_percentage_exfield %>" ><b>Honorários De Trabalho ou Êxito</b></label>

            <%= f.collection_radio_buttons :rate_work, options_for_rate_work, :second, :first do |b|
            b.label { b.radio_button(class:"rate-works ") + b.text }
            end %>

          </div>

          <div id="rate-work-fields" data-action-for-rate-work="<%= @work.action %>">

          </div>

        </div>

        <div class="col-md-12">

          <div class="grid col-md-6" id="rate_parceled">
            <b><%= f.label "Parcelamento" %></b>
            <%= f.collection_radio_buttons :rate_parceled, options_for_rate_parceled, :second, :first do |b|
              b.label { b.radio_button + b.text }
            end %>
          </div>

          <div class="grid col-md-6" id="rate_parceled">
            <b><%= f.label "Parcelamento" %></b>
            <%= f.text_field :rate_parceled_exfield, class:"form-control" %>
          </div>

        </div>

        <div class="col-md-12">

         <%#= render 'powers', f: f %>

        </div>

        <div class="col-md-12">

          <div class="col-md-6">

            <b><%= f.label "Escritório ou Escritórios Associados" %></b>
            <%= f.fields_for :work_offices do |wo| %>
              <%= wo.collection_select(:office_id, options_for_office, :id, :name, {}, {class:'form-control'}) %>
            <% end %>

          </div>

          <div class="col-md-6">
            <%= f.fields_for :client_works do |cw| %>

              <b><%= cw.label "Cliente" %></b>

              <% if @client.present? %>
                <%= cw.collection_select :client_id, options_for_client, :first, :second, {:selected => @client.id}, {class:'form-control'} %>
              <% else %>
                <%= cw.collection_select :client_id, options_for_client, :first, :second, {}, {class:'form-control'} %>
              <% end %>
          </div>

        </div>

        <div class="col-md-12">

          <div class="col-md-6">
            <b><%= f.label "Atendimento Inicial" %></b>
            <%= f.collection_select :initial_atendee, UserProfile.order(:email), :id, :email, {}, {class:'form-control'} %>
          </div>

          <div class="col-md-6">
            <b><%= f.label "Advogado Responsável" %></b>
            <%= f.collection_select :user_id, UserProfile.lawyer.order(:name), :user_id, :name, {}, {class:"form-control"} %>
          </div>

        </div>

        <div class="col-md-12">
            <div class="col-md-3">
              <b><%= cw.label "Indicação" %></b>
              <div class=" ind-name no-padding">
                <%= cw.number_field :recommendation, class:"form-control indId hidden" %>
                <span class="indName">Escolha uma indicação.</span>
                <button type='button' class='btn btn-danger remove-ind' id='ind-btn-remove'>X</button>
              </div>
            </div>

            <div class="col-md-1">
              <a class='btn btn-outline btn-primary modal-ind' data-toggle='modal' data-url='/clients/hunts' data-target='#modal-general' href='#'> <span>Selecionar Indicação</span></a>
            </div>

            <div class="col-md-4">
              <b><%= cw.label "Porcentagem da Comissão" %></b>
              <%= cw.number_field :percentage, class:"form-control" %>
            </div>

            <div class="col-md-4">
              <b><%= cw.label "Valor da Comissão" %></b>
              <%= cw.number_field :value, class:"form-control" %>
            </div>
          <% end %>

        </div>

        <div class="col-md-12">

          <div class="col-md-6 grid">
            <b><%= f.label "Documentos a serem produzidos" %></b>
            <%= f.collection_check_boxes :checklist_ids, options_for_checklist, :id, :description do |cl|
              cl.label { cl.check_box + cl.text }
            end %>
          </div>

          <div class="col-md-6 grid">
            <b><%= f.label "Documentos Pendentes" %></b>
            <%= f.collection_check_boxes :checklist_document_ids, options_for_checklist_document, :id, :description do |cl|
              cl.label { cl.check_box + cl.text }
            end %>
          </div>

        </div>

        <div class="col-md-12">

          <div class="col-md-6">
            <b><%= f.label "Estagiários da Procuração" %></b>
            <%= f.collection_select :procuration_intern, UserProfile.intern.order(:name), :id, :name, {}, {class:"form-control"} %>

          </div>

          <div class="col-md-6">
            <b><%= f.label "Bacharéis/Paralegais da Procuracão" %></b>
            <%= f.collection_select :procuration_paralegal, UserProfile.paralegal.order(:name), :id, :name, {}, {class:"form-control"} %>
          </div>

        </div>

        <div class="col-md-12">

          <div class="col-md-6">
            <b><%= f.label "Advogado Parceiro" %></b>
            <%= f.text_field :partner_lawyer, class:"form-control" %>
            <p><small class="rmk-text">Caso a procuração seja outorgada também a um advogado parceiro do escritório.</small></p>
          </div>

          <div class="col-md-6">
            <b><%= f.label "Outros Documentos Pendentes ou Pendências." %></b>
            <%= f.text_field :document_pendent, class:"form-control" %>
          </div>

        </div>

        <div class="col-md-12">

          <div class="col-md-6">
            <b><%= f.label "Pasta" %></b>
            <%= f.text_field :folder, class:"form-control" %>
          </div>

          <div class="col-md-6">
            <%#= f.text_field :document_pendent, class:"form-control" %>
          </div>

        </div>

        <div class="col-md-12">
          <div class="col-md-12">
            <b><%= f.label "Notas em geral sobre o caso" %></b>
            <%= f.text_area(:note, rows: 5, class:"form-control") %>
          </div>
        </div>

        <div class="col-md-12">
          <button type="submit" class="btn btn-primary pull-right">Salvar</button>
          <%= link_to "Cancelar", works_path, class:"btn btn-danger pull-right" %>
        </div>

      <% end %>
    </div>
  </div>
</div>

<%= render partial: "shared/modal" %>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" defer></script>
