<%= render partial: '/shared/errors', locals: {object: @work} %>

<div class="col-md-12 col-sm-12">
  <div class="x_panel">

    <div class="x_title">
      <h2><%= action %></h2>
      <div class="clearfix"></div>
    </div>

    <div class="x_content">

      <%= form_with model:@work, local: true do |f| %>

      <div id="wizard" class="form_wizard wizard_horizontal">
        <ul class="wizard_steps anchor">
          <li>
            <a href="#step-1" class="selected" isdone="1" rel="1">
              <span class="step_no">1</span>
              <span class="step_descr">
                Procedimento / Assunto
              </span>
            </a>
          </li>
          <li>
            <a href="#step-2" class="disabled" isdone="0" rel="2">
              <span class="step_no">2</span>
              <span class="step_descr">
                Honorários
              </span>
            </a>
          </li>
          <li>
            <a href="#step-3" class="disabled" isdone="0" rel="3">
              <span class="step_no">3</span>
              <span class="step_descr">
                Poderes
              </span>
            </a>
          </li>
          <li>
            <a href="#step-4" class="disabled" isdone="0" rel="4">
              <span class="step_no">4</span>
              <span class="step_descr">
                Informações internas
              </span>
            </a>
          </li>
          <li>
            <a href="#step-5" class="disabled" isdone="0" rel="5">
              <span class="step_no">5</span>
              <span class="step_descr">
                Informações Adicionais
              </span>
            </a>
          </li>
        </ul>

        <div class="stepContainer">
          <div id="step-1" class="content" style="display: block;">

            <div class="col-md-12">

              <div class="col-md-6">

              <div class="col-md-12 no-padding">
                <fieldset id="work-office">
                  <%= f.fields_for :client_works do |cw| %>
                  <%= render partial: "client_work_fields", locals: {f: cw} %>
                  <% end %>
                </fieldset>
              </div>

              <div class="col-md-10">
                <%= link_to_add_association "Adicionar mais clientes", f, :client_works, class:"btn btn-success btn-add-cli", id: "add-cli-work" %>
              </div>

              </div>

            </div>

            <div class="col-md-12">
              <div class="col-md-6">
                <label> Número do Requerimento ou Processo </label>
                <%= f.text_field :number, class:"form-control", min: 0 %>
                <p><small class="rmk-text">* Apenas para casos em que já existe o processo.</small></p>
              </div>
            </div>

            <div id="mark-box-step-1-check" class="col-md-12">
              <div class="col-md-4 grid">
                <label> Procedimento </label>
                <%= f.collection_check_boxes :procedure_ids, options_for_procedure, :id, :description do |cb|
                  cb.label(class:"inline-radio") { cb.check_box + cb.text }
                end %>
              </div>
            </div>

            <div id="mark-box-step-1-radio" class="col-md-12">

              <fieldset class="col-md-4 radio_buttons optional work_subject grid">
                <legend class="col-form-label pt-0"><b>Assunto</b></legend>

                <%= f.collection_radio_buttons :subject, options_for_subject, :second, :first do |b|
                  b.label(class:"inline-radio") { b.radio_button(class:"subject") + b.text }
                end %>


                <small class="rmk-text">* Escolha a área e depois a subárea de atuação.</small>
              </fieldset>

              <div class="col-md-5">

                <div class="col-md-12 no-padding subject-append-outros hidden">
                  <label > Descreva a área </label>
                  <%= f.text_field :action, class:"form-control" %>
                </div>
              </div>

              <%= f.fields_for :tributary do |ta| %>
                  <div class='subject-append-pis hidden' id='label-tributary-work' data-action-for-tributary-work="<%#= @work.tributary_attribute.compensation %>">

                    <div class='col-md-5'>

                      <div class='col-md-12 no-padding'>
                        <b>
                          <label for='work_tributary_attributes_Compensações realizadas nos últimos 5 anos:'>Compensações realizadas nos últimos 5 anos:</label>
                        </b>
                        <%= ta.radio_button :compensation, '0' %> sim
                        <%= ta.radio_button :compensation, '1' %> não
                      </div>

                      <div class='col-md-12 no-padding'>
                        <b><label for='work_tributary_attributes_Compensações de ofício:'>Compensações de ofício:</label></b>
                        <%= ta.radio_button :craft, '0' %> sim
                        <%= ta.radio_button :craft, '1' %> não
                      </div>

                      <div class='col-md-12 no-padding'> <b>
                        <label for='work_tributary_attributes_Possui ação judicial:'>Possui ação judicial:</label></b>
                        <%= ta.radio_button :lawsuit, '0' %> sim
                        <%= ta.radio_button :lawsuit, '1' %> não
                      </div>

                      <div class='col-md-6 no-padding'>
                        <b><label for='work_tributary_attributes_Projeção de Ganho'>Projeção de ganho</label></b>
                        <%= ta.number_field :projection, class:"form-control", placeholder:'10.000' %>
                      </div>

                      <div class='col-md-12 no-padding'>
                        <div class='col-md-6'>
                          <label> Upload de arquivos </label>
                          <%= f.file_field :archive_file, multiple: true %>
                          <small class="form-text text-muted">
                            Formatos aceitos: JPEG, PNG e PDF.
                          </small>
                        </div>
                      </div>
                    </div>
                  </div>

              <% end %>

              <div id="subject-fields" data-action-for-subject="<%= @work.action %>">

              </div>

            </div>

          </div>

          <div id="step-2" class="content" style="display: none;">

            <div class="col-md-12">

              <div class="col-md-6 grid" id="conds-rates">

                <label id="label-rate-work" for="work_Honorários De Trabalho ou Êxito" data-exfield="<%= @work.rate_fixed_exfield %>" data-percentage="<%= @work.rate_percentage_exfield %>" ><b>Honorários De Trabalho ou Êxito</b></label>

                <%= f.collection_radio_buttons :rate_work, options_for_rate_work, :second, :first do |b|
                b.label(class:"inline-radio") { b.radio_button(class:"rate-works ") + b.text }
                end %>

              </div>

              <div id="rate-work-fields" data-action-for-rate-work="<%= @work.action %>">

              </div>

            </div>

            <div class="col-md-12">

              <div class="grid col-md-6" id="rate_parceled">
                <label> Parcelamento </label>
                <%= f.collection_radio_buttons :rate_parceled, options_for_rate_parceled, :second, :first do |b|
                  b.label(class:"inline-radio") { b.radio_button + b.text }
                end %>
              </div>

              <div class="grid col-md-6" id="rate_parceled">
                <label> Parcelamento </label>
                <%= f.text_field :rate_parceled_exfield, class:"form-control step-2-required" %>
              </div>

            </div>

          </div>

          <div id="step-3" class="content" style="display: none;">

            <div class="col-md-12">

              <%= render partial: 'powers', locals: { f: f} %>

            </div>

          </div>

          <div id="step-4" class="content" style="display: none;">

            <div class="col-md-12">

                <div class="col-md-6">
                  <div class="container">

                    <div class="work-office">
                      <%= f.fields_for :work_offices do |wo| %>
                        <%= render partial: "work_office_fields", locals: {f: wo} %>
                      <% end %>

                      <%= link_to_add_association "Adicionar Escritório", f, :work_offices, class:"btn btn-success btn-add-cli" %>
                    </div>

                </div>
              </div>

              <div class="col-md-6">
                <label> Atendimento Inicial </label>
                <%= f.collection_select :initial_atendee, UserProfile.order(:email), :id, :email, {}, {class:'form-control'} %>
              </div>

            </div>

            <div class="col-md-12">

              <div class="col-md-6">
                <label> Advogado Responsável </label>
                <%= f.collection_select :user_id, options_user_by_role(0), :user_id, :name, {prompt: 'Selecione um Advogado'}, {class:"form-control"} %>
              </div>

              <div class="col-md-6 recommend-container">
                <div class="container-row">
                  <label> Indicação </label>
                  <div class="recommend-container-child">
                    <%= f.fields_for :recommendation_work do |rw| %>

                    <%= rw.number_field :client_id, class:"form-control indId hidden" %>
                    <% if !@work.recommendation_work.new_record? %>

                      <span class="indName"><%= @work.recommendation_work.client.name %></span>

                    <% else %>
                      <span class="indName">Escolha uma indicação.</span>
                    <% end %>
                    <button type='button' class='btn btn-danger remove-ind' id='ind-btn-remove'>X</button>
                  </div>
                </div>

                <div class="">
                  <a class='btn btn-outline btn-primary btn-modal-ind' data-toggle='modal' data-url='/clients/modal/recommendation_search' data-target='#modal-general' href='#'> <span>Adicinar Indicação</span></a>
                </div>
              </div>

            </div>

            <div class="col-md-12">

                <div class="col-md-6">
                  <label> Porcentagem da Comissão </label>
                  <%= rw.text_field :percentage, class:"form-control" %>
                </div>

                <div class="col-md-6">
                  <label> Valor da Comissão </label>
                  <%= rw.number_field :commission, class:"form-control" %>
                </div>
              <% end %>

            </div>

            <div class="col-md-12">

              <div class="col-md-6">
                <label> Estagiários da Procuração </label>
                <%= f.collection_select :procuration_intern, options_user_by_role(2), :id, :name, {prompt: 'Selecione um Estagiário'}, {class:"form-control"} %>
              </div>

              <div class="col-md-6">
                <label> Bacharéis/Paralegais da Procuracão </label>
                <%= f.collection_select :procuration_paralegal, options_user_by_role(1), :id, :name, {prompt: 'Selecione um Paralegal'}, {class:"form-control"} %>
              </div>

            </div>

            <div class="col-md-12">
              <div class="col-md-6">
                <label> Advogado Parceiro </label>
                <%= f.text_field :partner_lawyer, class:"form-control" %>
                <p><small class="rmk-text">Caso a procuração seja outorgada também a um advogado parceiro do escritório.</small></p>
              </div>
            </div>



          </div>

          <div id="step-5" class="content" style="display: none;">

            <div class="col-md-12">

              <div class="col-md-6 grid">
                <label> Documentos a serem produzidos </label>
                <%= f.collection_check_boxes :checklist_ids, options_for_checklist, :id, :description do |cl|
                  cl.label(class:"inline-radio") { cl.check_box + cl.text }
                end %>
              </div>

              <div class="col-md-6 grid">
                <label> Documentos Pendentes </label>
                <%= f.collection_check_boxes :checklist_document_ids, options_for_checklist_document, :id, :description do |cl|
                  cl.label(class:"inline-radio") { cl.check_box + cl.text }
                end %>
              </div>

            </div>

            <div class="col-md-12">

              <div class="col-md-6">
                <label> Outros Documentos Pendentes ou Pendências. </label>
                <%= f.text_field :document_pendent, class:"form-control" %>
              </div>

            </div>

            <div class="col-md-12">

              <div class="col-md-6">
                <label> Pasta </label>
                <%= f.text_field :folder, class:"form-control" %>
              </div>

              <div class="col-md-6">
                <%#= f.text_field :document_pendent, class:"form-control" %>
              </div>

            </div>

            <div class="col-md-12">
              <div class="col-md-12">
                <label> Notas em geral sobre o caso </label>
                <%= f.text_area(:note, rows: 5, class:"form-control") %>
              </div>
            </div>

          </div>

        </div>

      </div>

    </div>
    <% end %>
  </div>
</div>

<%= render partial: "shared/modal" %>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" defer></script>

<script src="https://code.jquery.com/jquery-1.4.2.min.js"></script>
<script src="https://colorlib.com/polygon/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>

<script type="text/javascript">

  function leaveAStepCallback(_, context){

    let flag = 3;

    if (context.fromStep == 1) {
      if (!$("input[name='work[procedure_ids][]']:checked").length > 0) {
        $('#mark-box-step-' + context.fromStep + '-check').addClass('error-mark-box');
        flag -= 1;
      } else {
        $('#mark-box-step-' + context.fromStep + '-check').removeClass('error-mark-box');
      }

      if (!$("input[name='work[subject]']:checked").length > 0) {
        $('#mark-box-step-' + context.fromStep + '-radio').addClass('error-mark-box');
        flag -= 1;
      } else {
        $('#mark-box-step-' + context.fromStep + '-radio').removeClass('error-mark-box');
      }
    }

    if (context.fromStep == 2) {
      if (!$("input[name='work[rate_work]']:checked").length > 0) {
        $('#conds-rates').addClass('error-mark-box');
        flag -= 1;
      } else {
        $('#conds-rates').removeClass('error-mark-box');
      }

      if (!$("input[name='work[rate_parceled]']:checked").length > 0) {
        $('#rate_parceled').addClass('error-mark-box');
        flag -= 1;
      } else {
        $('#rate_parceled').removeClass('error-mark-box');
      }
    }

    if (context.fromStep == 3) {
      if (!$("input[name='work[power_ids][]']:checked").length > 0) {
        $('#powers').addClass('error-mark-box');
        flag -= 1;
      } else {
        $('#powers').removeClass('error-mark-box');
      }
    }

    $('.step-' + context.fromStep + '-required').each(function(){

      if ($(this).val() == '') {
        $(this).addClass('field_with_error');
        $(this).prev().addClass('label_with_error');
        flag -= 1;
      } else {
        if ($(this).hasClass('field_with_error') || $(this).hasClass('label_with_error')) {
          $(this).removeClass('field_with_error');
          $(this).prev().removeClass('label_with_error');
        }
      }

    })
    return flag == 3 ? true : false;
  }

  $('#wizard').smartWizard({
    selected: 0,  // Selected Step, 0 = first step
    keyNavigation: false, // Enable/Disable key navigation(left and right keys are used if enabled)
    enableAllSteps: false,  // Enable/Disable all steps on first load
    transitionEffect: 'fade', // Effect on navigation, none/fade/slide/slideleft
    contentURL:null, // specifying content url enables ajax content loading
    contentURLData:null, // override ajax query parameters
    contentCache:true, // cache step contents, if false content is fetched always from ajax url
    cycleSteps: false, // cycle step navigation
    enableFinishButton: false, // makes finish button enabled always
    hideButtonsOnDisabled: true, // when the previous/next/finish buttons are disabled, hide them instead
    errorSteps:[],    // array of step numbers to highlighting as error steps
    labelNext:'Próximo', // label for Next button
    labelPrevious:'Anterior', // label for Previous button
    labelFinish:'Salvar ',  // label for Finish button
    noForwardJumping:false,
    // Events
    onLeaveStep: leaveAStepCallback, // triggers when leaving a step
    onShowStep: null,  // triggers when showing a step
    onFinish: null  // triggers when Finish button is clicked
  });

  $(".client-select").select2({
    language: "pt-BR",
    theme: "bootstrap",
    allowClear: true,
    placeholder: "Selecione ou digite um nome de um cliente",
    closeOnSelect: true,
    tags: "true",
    allowClear: true
  });

</script>
