<%= form_with model:@work do |f| %>

  <div class="form-group" style="display: grid">
    <%= f.label "Procedimento" %>
    <%= f.collection_check_boxes :procedure, options_for_procedure, :second, :first do |cb|
      cb.label { cb.check_box + cb.text }
    end %>
    <small>Escolha o Procedimento, se for um procedimento administrativo e judicial já deixe tudo selecionado. Mas isso é tudo como um trabalho só. Se forem multiplos trabalhos recriar o formulário como um trabalho novo.</small>
  </div>

  <div class="form-group">
    <div class="row-sm-10">

      <fieldset class="form-group radio_buttons optional work_subject" style="display: grid">
        <legend class="col-form-label pt-0">Assunto</legend>

        <%= f.collection_radio_buttons :subject, options_for_subject, :second, :first do |b|
        b.label { b.radio_button(class:"subject") + b.text }
        end %>

        <small class="form-text text-muted">Escolha a área e depois a subarea de atuação.</small>
      </fieldset>


      <!-- <div class="form-group" id="conds-subject"> -->

        <div class="conditional subject-matter" data-cond-option="'work[subject]'" data-cond-value="Previdenciário" style="display: grid">

          <fieldset class="form-group radio_buttons optional work_subject" style="display: grid">
            <legend class="col-form-label pt-0">Previdenciário-Áreas</legend>

            <%= f.collection_radio_buttons :action, options_for_action_previence, :second, :first do |b|
            b.label { b.radio_button + b.text }
            end %>
          </fieldset>

        </div>

        <div class="conditional subject-matter" data-cond-option="'work[subject]'" data-cond-value="Cível" style="display: grid">

          <fieldset class="form-group radio_buttons optional work_subject" style="display: grid">
            <legend class="col-form-label pt-0">Cível-Áreas</legend>

            <%= f.collection_radio_buttons :action, options_for_action_civil, :second, :first do |b|
            b.label { b.radio_button + b.text }
            end %>
          </fieldset>

        </div>

        <div class="conditional subject-matter" data-cond-option="'work[subject]'" data-cond-value="Trabalhista" style="display: grid">

          <fieldset class="form-group radio_buttons optional work_subject" style="display: grid">
            <legend class="col-form-label pt-0">Trabalhista</legend>

            <%= f.collection_radio_buttons :action, options_for_action_labor, :second, :first do |b|
            b.label { b.radio_button + b.text }
            end %>
          </fieldset>

        </div>

        <div class="conditional subject-matter" data-cond-option="'work[subject]'" data-cond-value="Tributário" style="display: grid">

          <fieldset class="form-group radio_buttons optional work_subject" style="display: grid">
            <legend class="col-form-label pt-0">Tributário</legend>

            <%= f.collection_radio_buttons :action, options_for_action_tributary, :second, :first do |b|
            b.label { b.radio_button + b.text }
            end %>
          </fieldset>

        </div>

        <div class="conditional subject-matter" data-cond-option="'work[subject]'" data-cond-value="Outros" style="display: grid">

          <fieldset class="form-group radio_buttons optional work_subject" style="display: grid">
            <legend class="col-form-label pt-0">Outros</legend>

              <%= f.label "Outras Áreas" %>
              <%= f.text_field :action%>

          </fieldset>

        </div>


        <div class="form-group">
          <%= f.label "Número do Requerimento ou Processo" %>
          <%= f.number_field :number, hint: "Apenas para casos em que já existe o processo." %>
          <small class="form-text text-muted">Apenas para casos em que já existe o processo.</small>
        </div>

        <div class="form-group" id="conds-rates" style="display: grid">

          <%= f.label "Honorários De Trabalho ou Êxito" %>
          <%= f.collection_radio_buttons :rate_work, options_for_rate_work, :second, :first do |b|
          b.label { b.radio_button + b.text }
          end %>

          <div class="conditional" data-cond-option="'work[rate_work]'" data-cond-value="Trabalho">
            <div class="form-group">
              <%= f.label "Valor de Honorários Fixos" %>
              <%= f.text_field :rate_fixed_exfield%>
            </div>
          </div>

          <div class="conditional" data-cond-option="'work[rate_work]'" data-cond-value="Êxito">
            <div class="form-group">
              <%= f.label "Valor de Honorários Percentuais" %>
              <%= f.text_field :rate_percentage%>
            </div>
          </div>
        </div>

          <div class="conditional" data-cond-option="'work[rate_work]'" data-cond-value="Ambos">
            <div class="form-group">
              <%= f.label "Valor de Honorários Fixos" %>
              <%= f.number_field :rate_fixed_exfield %>

              <%= f.label "Valor de Honorários Percentuais" %>
              <%= f.number_field :rate_percentage %>
            </div>
          </div>

        <div class="form-group" id="conds-rates" style="display: grid">
          <%= f.label "Parcelamento" %>
          <%= f.collection_radio_buttons :rate_parceled, options_for_rate_parceled, :second, :first do |b|
            b.label { b.radio_button + b.text }
          end %>
        </div>

        <div class="form-group" id="conds-rates" style="display: grid">
          <%= f.collection_check_boxes :power, options_for_check_boxes, :second, :first do |cb|
            cb.label { cb.check_box(class:"power-checked") + cb.text }
          end %>
        </div>

        <%#= TODO f.input :office, disabled: true %>
        <%#= TODO f.input :folder, label: "Pasta #{ultimoplusone}", disabled: true, wrapper_html: {class: 'd-inline-flex'} %>
        <%#= TODO f.input :outros_responsavel %>

        <div class="form-group">
          <div class="d-inline-flex">
            <%= f.label "Indicação" %>
            <%= f.text_field :recommendation %>
          </div>
          <div class="d-inline-flex">
            <%= f.label "Comissão" %>
            <%= f.text_field :recommendation_comission %>
          </div>
        </div>

        <div class="form-group">
          <div class="d-inline-flex">
            <% if Client.first == nil
            number = "Sem cliente Cadastrado"
            else
            number =  "#{Client.last.name} #{Client.last.lastname} #{Client.last.id}"
            end %>

            <%= f.label "Cliente - Pasta" %>
            <%= f.number_field :folder, disabled: true, placeholder: "#{number}" %>
          </div>
        </div>

        <div class="form-group">
          <div class="d-inline-flex">
            <%= f.label "Atendimento Inicial" %>
            <%= f.collection_select :initial_atendee, User.order(:email), :id, :email %>
          </div>

          <div class="d-inline-flex">
            <%= f.label "Advogado Responsável" %>
            <%= f.collection_select :responsible_lawyer, Lawyer.order(:name), :id, :name %>
          </div>
        </div>

        <div class="form-group" style="display: grid">
          <%= f.label "Documentos a serem produzidos" %>
          <%= f.collection_check_boxes :checklist, options_for_checklist, :second, :first do |cl|
            cl.label { cl.check_box + cl.text }
          end %>
        </div>

        <div class="form-group" style="display: grid">
          <%= f.label "Documentos Pendentes" %>
          <%= f.collection_check_boxes :checklist_document, options_for_checklist_document, :second, :first do |cl|
            cl.label { cl.check_box + cl.text }
          end %>
        </div>

        <div class="form-group">
          <div class="d-inline-flex">
            <%= f.label "Estagiários da Procuração" %>
            <%= f.text_field :procuration_intern %>

            <%= f.label "Bacharéis/Paralegais da Procuracão" %>
            <%= f.text_field :procuration_paralegal %>
          </div>

          <%= f.label "Advogado Parceiro" %>
          <%= f.text_field :partner_lawyer %>
          <small>Caso a procuração seja outorgada também a um advogado parceiro do escritório.</small>

          <%= f.label "Outros Documentos Pendentes ou Pendências." %>
          <%= f.text_field :document_pendent %>

          <%= f.label "Notas em geral sobre o caso" %>
          <%= f.text_field :note %>

        </div>

  <button type="submit" class="btn btn-primary">Criar Trabalho</button>
  <%= link_to "voltar", works_path %>

<% end %>
