<div class="col-md-12 col-sm-12">

  <h1 class="pull-left mg-left">Works</h1>

  <%= link_to new_work_path, class:"btn btn-success pull-right btn-new" do %>
    <i class="fa fa-plus"></i> Novo Work
  <% end %>

  <div class="x_panel">
    <div class="x_content">
      <div class="row">
        <div class="col-sm-12">

          <table id="datatable-list" class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline" cellspacing="0" role="grid" aria-describedby="datatable-responsive_info">
            <thead>
              <tr role="row">
                <th>#</th>
                <th>Cliente</th>
                <th>Procedimento</th>
                <th>Assunto</th>
                <th>Ação</th>
                <th>Requerimento/Processo</th>
                <th>Responsável</th>
                <th>Parceiro</th>
                <th class="table-actions">Ações</th>
              </tr>
            </thead>
            <tbody>
                <% @works.each do |w| %>
                  <tr role="row">
                    <td><%= w.id %></td>
                    <td>
                      <% w.clients.each do |c| %>
                        <%= c.name %>
                      <% end %>
                    </td>
                    <td>
                      <% w.procedures.each do |p| %>
                        <%= p.description %>
                      <% end %>
                    </td>
                    <td><%= w.subject %></td>
                    <td><%= w.action %></td>
                    <td><%= w.number %></td>
                    <td><%#= w.user.user_profile.full_name %></td>
                    <td><%= w.partner_lawyer %></td>
                    <td class="table-action-content">

                      <% if w.clients %>
                      <%= link_to '#', class:"btn btn-success" do %>
                        <%#= link_to new_job_path(client: w.clients.first.id), class:"btn btn-success" do %>
                          <i class="fa fa-gavel"></i>
                        <% end %>
                      <% else %>
                        <%= link_to new_job_path, class:"btn btn-success" do %>
                        <i class="fa fa-gavel"></i>
                        <% end %>
                      <% end %>
                      <%= link_to work_path(w), class:"btn btn-info" do %>
                        <i class="fa fa-eye"></i>
                      <% end %>

                      <%= link_to edit_work_path(w), class:"btn btn-primary" do %>
                        <i class="fa fa-edit"></i>
                      <% end %>

                      <%= link_to work_path(w), class:"btn btn-danger",
                          method: :delete, data: {confirm: "Tem certeza que deseja apagar"} do %>
                          <i class="fa fa-times"></i>
                      <% end %>

                    </td>
                  </tr>
                <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
