<div class="col-md-12 col-sm-12">
  <div class="x_panel">

    <div class="x_title clearfix">
      <h1 class="pull-left"><%= @work.subject + ' - ' + @work.action + ' - ' + @work.number  %></h1>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
      </ul>
    </div>

    <div class="x_content">

      <div class="col-md-12">

        <section class="col-md-4">

            <h2 class="pull-left col-md-12 h-line"> <i class="fa fa-user"></i> <b>Informações Iniciais</b></h2>

            <span class="col-md-12">
              <b>Assunto:</b>
              <%= @work.subject %>
            </span>

            <span class="col-md-12">
              <b>Ação:</b>
              <%= @work.action %>
            </span>

            <span class="col-md-12">
              <b>Número:</b>
              <%= @work.number %>
            </span>

            <span class="col-md-12">
              <b>Número:</b>
              <%= @work.folder %>
            </span>


        </section>

                <section class="col-md-4">

            <h2 class="pull-left h-line"> <i class="fa fa-home"></i> <b>Documentos e notas:</b></h2>

            <span class="col-md-12">
              <b>Documentos Checklist:</b>
              <%= @work.checklist %>
            </span>

              <span class="col-md-12">
                <b>Documentos Pendentes:</b>
                <%= @work.document_pendent %>
              </span>

              <span class="col-md-12">
                <b>Notas:</b>
                <%= @work.note %>
              </span>

        </section>

        </section>

        <section class="col-md-4">
          <h2 class="pull-left h-line"> <i class="fa fa-file"></i> <b>Documentos</b></h2>

          <span class="col-md-12">
            <b>Documentos:</b>
            <%= @document %>
          </span>

          <div class="col-md-12">
            <%= link_to @url, class: "btn btn-info col-md-6" do %>
              <i class="fa fa-download"></i> Baixar Documentos
            <% end %>
          </div>
          
          <span class="col-md-12">
            <b>Documentos Link:</b>
            <%= @url %>
          </span>

          <div class="col-md-12">
            <%#= link_to new_work_path(client: @client), class:"btn btn-success col-md-6" do %>
              <i class="fa fa-gavel"></i> Novo Work
            <%# end %>
          </div>

        </section>

        <section class="col-md-4">
          <h2 class="pull-left h-line"> <i class="fa fa-file"></i> <b>Honorários:</b></h2>

          <span class="col-md-12">
            <b>Honorários Percentual:</b>
            <%= @work.rate_percentage %>
          </span>

          <span class="col-md-12">
            <b>%:</b>
            <%= @work.rate_percentage_exfield %>
          </span>

          <span class="col-md-12">
            <b>Honorários Fixos:</b>
            <%= @work.rate_fixed %>
          </span>

          <span class="col-md-12">
            <b>Honorários Fixos Valor:</b>
            <%= @work.rate_fixed_exfield %>
          </span>

          <span class="col-md-12">
            <b>Honorários Fixos Trabalho:</b>
            <%= @work.rate_work %>
          </span>          

          <span class="col-md-12">
            <b>Honorários Parcelamento:</b>
            <%= @work.rate_parceled %>
          </span>          

          <span class="col-md-12">
            <b>Honorários Parcelamento Detalhes:</b>
            <%= @work.rate_parceled_exfield %>
          </span>         

        </section>
    </div>

      <div class="col-md-12">

        <section class="col-md-4">

          <h2 class="pull-left h-line"> <i class="fa fa-phone"></i> <b>Outras Informações</b></h2>

          <span class="col-md-12">
            <b>Atendimento Inicial:</b>
            <%= @work.initial_atendee %>
          </span>     

          <span class="col-md-12">
            <b>Recomendação/Indicação/Origem:</b>
            <%= @work.recommendation %>
          </span>     

          <span class="col-md-12">
            <b>Comissão da Recomendação:</b>
            <%= @work.recommendation_comission %>
          </span>     

          <span class="col-md-12">
            <b>Advogado Parceiro:</b>
            <%= @work.partner_lawyer %>
          </span>     

        </section>

        <section class="col-md-4">
          <h2 class="pull-left h-line"> <i class="fa fa-university"></i> <b>...</b></h2>

          <span class="col-md-12">
            <b>...:</b>
            <%#= @client.bank.name %>
          </span>

          <span class="col-md-12">
            <b>...</b>
            <%#= @client.bank.agency %>
          </span>

          <span class="col-md-12">
            <b>...</b>
            <%#= @client.bank.account %>
          </span>

        </section>

        <section class="col-md-4">
          <h2 class="pull-left h-line"> <i class="fa fa-asterisk"></i> <b>Informações Adicionais</b></h2>

          <span class="col-md-12">
            <strong>...:</strong>
            <%##= @client.profession %>
          </span>

          <span class="col-md-12">
            <strong>...:</strong>
            <%#= @client.company %>
          </span>

          <span class="col-md-12">
            <strong>...:</strong>
            <%#= @client.number_benefit %>
          </span>

        </section>

      </div>
    </div>
  </div>

  <div class="x_panel">

    <div class="x_title clearfix">
      <h1 class="pull-left">Jobs Pendentes</h1>
      <%= link_to new_job_path(client: @client), class:"btn btn-success" do %>
        <i class="fa fa-plus"></i>
      <% end %>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
      </ul>
    </div>


    <div class="x_content">

      <div class="col-md-12">

        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Job</th>
              <th>Descrição</th>
              <th>...</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td> <%#= @client.jobs %> </td>
              <td></td>
              <td>
                <%= render "shared/links_jobs" %>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>

  <%= link_to "Voltar", works_path, class:"btn btn-danger btn-outline left col-md-1" %>


  </div>