<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @work.tipo %>
</p>

<p>
  <strong>Materia:</strong>
  <%= @work.materia %>
</p>

<p>
  <strong>Acao:</strong>
  <%= @work.acao %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @work.numero %>
</p>

<p>
  <strong>Honorariosp:</strong>
  <%= @work.honorariosp %>
</p>

<p>
  <strong>Honorariosp exfield:</strong>
  <%= @work.honorariosp_exfield %>
</p>

<p>
  <strong>Honorariosf:</strong>
  <%= @work.honorariosf %>
</p>

<p>
  <strong>Honorariosf exfield:</strong>
  <%= @work.honorariosf_exfield %>
</p>

<p>
  <strong>Honorarios trab x exito:</strong>
  <%= @work.honorarios_trab_x_exito %>
</p>

<p>
  <strong>Honorarios parcelamento:</strong>
  <%= @work.honorarios_parcelamento %>
</p>

<p>
  <strong>Escritorio:</strong>
  <%= @work.escritorio %>
</p>

<p>
  <strong>Poderes:</strong>
  <%= @work.poderes %>
</p>

<p>
  <strong>Indicacao:</strong>
  <%= @work.indicacao %>
</p>

<p>
  <strong>Indicacao comissao:</strong>
  <%= @work.indicacao_comissao %>
</p>

<p>
  <strong>Pasta:</strong>
  <%= @work.pasta %>
</p>

<p>
  <strong>Atendimento inicial:</strong>
  <%= @work.atendimento_inicial %>
</p>

<p>
  <strong>Advogado responsavel:</strong>
  <%= @work.advogado_responsavel %>
</p>

<p>
  <strong>Advogado procuracao:</strong>
  <%= @work.advogado_procuracao %>
</p>

<p>
  <strong>Estagiarios procuracao:</strong>
  <%= @work.estagiarios_procuracao %>
</p>

<p>
  <strong>Paralegais procuracao:</strong>
  <%= @work.paralegais_procuracao %>
</p>

<p>
  <strong>Advogado parceiro:</strong>
  <%= @work.advogado_parceiro %>
</p>

<p>
  <strong>Notas:</strong>
  <%= @work.notas %>
</p>

<p>
  <strong>Checklist:</strong>
  <%= @work.checklist %>
</p>

<p>
  <strong>Checklist documentos:</strong>
  <%= @work.checklist_documentos %>
</p>

<p>
  <strong>Documentos pendentes:</strong>
  <%= @work.documentos_pendentes %>
</p>

<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
