<div class="col-md-12 col-sm-12">
  <div class="x_panel">

    <div class="x_title clearfix">
      <h1 class=""><%= @work.subject + ' - ' + @work.action + ' - ' + @work.number %></h1>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
      </ul>
    </div>

    <div class="x_content">

      <div class="show-data-works">

        <section>

            <h2 class="h-line"> <i class="fa fa-user"></i> <b>Informações Iniciais</b></h2>

            <span>
              <b>Assunto:</b>
              <%= @work.subject %>
            </span>

            <span>
              <b>Ação:</b>
              <%= @work.action %>
            </span>

            <span>
              <b>Número:</b>
              <%= @work.number %>
            </span>

            <span>
              <b>Número:</b>
              <%= @work.folder %>
            </span>

        </section>

        <section>

          <h2 class="h-line">
            <i class="fa fa-home"></i>
            <b>Documentos e notas:</b>
          </h2>

          <span>
            <b>Documentos Checklist:</b>
            <%= @work.checklist %>
          </span>

          <span>
            <b>Documentos Pendentes:</b>
            <%= @work.document_pendent %>
          </span>

          <span>
            <b>Notas:</b>
            <%= @work.note %>
          </span>

        </section>

        <section>

          <h2 class="h-line">
            <i class="fa fa-file"></i>
            <b>Documentos</b>
          </h2>

          <div>
            <%= link_to @url, class: "btn btn-info col-md-6" do %>
              <i class="fa fa-download"></i> Documentos Trabalho
            <% end %>
          </div>

        </section>

        <section>

          <h2 class="h-line">
            <i class="fa fa-file"></i>
            <b>Honorários:</b>
          </h2>

          <span>
            <b>Honorários Percentual:</b>
            <%= @work.rate_percentage %>
          </span>

          <span>
            <b>%:</b>
            <%= @work.rate_percentage_exfield %>
          </span>

          <span>
            <b>Honorários Fixos:</b>
            <%= @work.rate_fixed %>
          </span>

          <span>
            <b>Honorários Fixos Valor:</b>
            <%= @work.rate_fixed_exfield %>
          </span>

          <span>
            <b>Honorários Fixos Trabalho:</b>
            <%= @work.rate_work %>
          </span>

          <span>
            <b>Honorários Parcelamento:</b>
            <%= @work.rate_parceled %>
          </span>

          <span>
            <b>Honorários Parcelamento Detalhes:</b>
            <%= @work.rate_parceled_exfield %>
          </span>

        </section>

        <section>

          <h2 class="h-line">
            <i class="fa fa-phone"></i>
            <b>Outras Informações</b>
          </h2>

          <span>
            <b>Atendimento Inicial:</b>
            <%= initial_atendence(@work.initial_atendee) %>
          </span>

          <span>
            <b>Recomendação/Indicação/Origem:</b>
            <%# @work.percentage %>
          </span>

          <span>
            <b>Comissão da Recomendação:</b>
            <%# @work.recommendation %>
          </span>

          <span>
            <b>Advogado Parceiro:</b>
            <%= @work.partner_lawyer %>
          </span>

        </section>

        <section>
          <h2 class="h-line">
            <i class="fa fa-university"></i>
            <b>Dados bancários</b>
          </h2>

          <% if @client.bank %>
            <span class="col-md-12">
              <b>Banco:</b>
              <%= @client.bank&.name %>
            </span>

            <span class="col-md-12">
              <b>Agência:</b>
              <%= @client.bank&.agency %>
            </span>

            <span class="col-md-12">
              <b>Conta:</b>
              <%= @client.bank&.account %>
            </span>
          <% else %>
            <i class="fa fa-times"></i>
            <p class="in-line">Não há conta cadastrada</p>
          <% end %>

        </section>

        <section>
          <h2 class="h-line"> <i class="fa fa-asterisk"></i> <b>Informações Adicionais</b></h2>

          <span>
            <strong>Profissão:</strong>
            <%= @client.profession %>
          </span>

          <span>
            <strong>Empresa:</strong>
            <%= @client.company %>
          </span>

          <span>
            <strong>Número de benefício:</strong>
            <%= @client.number_benefit %>
          </span>

        </section>

      </div>

    </div>
  </div>

  <div class="x_panel">

    <div class="x_title clearfix">
      <h1 class="">Tarefas</h1>

      <%= link_to "#", class:"btn btn-success" do %>
        <i class="fa fa-plus"></i>
      <% end %>

      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
      </ul>

    </div>

    <div class="x_content">

      <% if has_jobs_to_this_work(@work) %>
        <div>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Tarefa</th>
                <th>Descrição</th>
                <th>Status</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <% @jobs.each do |job| %>
                <tr>
                  <th scope="row"><%= job.id %></th>
                  <td> <%= job.description %></td>
                  <td> <%= job.deadline %></td>
                  <td> <%= job.status %></td>
                  <td>Colocar botões aqui</td>
                </tr>
              <% end %>
            </tbody>
          </table>

        </div>

      <% else %>

        <p>Não foram encontradas tarefas para este trabalho.</p>

      <% end %>

    </div>
  </div>

  <%= link_to "Voltar", works_path, class:"btn btn-danger btn-outline left col-md-1" %>

  </div>
