<div class="col-md-12 col-sm-12">
  <div class="x_panel">

    <div class="x_title clearfix">
      <h1 class=""><%= @work.subject + ' - ' + @work.action + ' - ' + @work.number %></h1>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
      </ul>
    </div>

    <div class="x_content">

      <div class="show-data-works">

        <section>

            <h2 class="h-line">
              <i class="fa fa-user"></i>
              <b>Informações Iniciais</b>
            </h2>

            <span>
              <b>Cliente(s):</b>
              <% @work.clients.each do |wc| %>
              <span >
                  <%= wc.name %>
              </span>
              <% end %>
            </span>

            <span>
              <b>Assunto:</b>
              <%= @work.subject %>
            </span>

            <span>
              <b>Ação:</b>
              <%= @work.action %>
            </span>

            <span>
              <b>Número:</b>
              <%= @work.number %>
            </span>

            <span>
              <b>Número:</b>
              <%= @work.folder %>
            </span>

        </section>

        <section>

          <h2 class="h-line">
            <i class="fa fa-home"></i>
            <b>Documentos e notas:</b>
          </h2>

          <span>
            <b>Documentos Checklist:</b>
            <%= @work.checklist %>
          </span>

          <span>
            <b>Documentos Pendentes:</b>
            <%= @work.document_pendent %>
          </span>

          <span>
            <b>Notas:</b>
            <%= @work.note %>
          </span>

        </section>

        <section>

          <h2 class="h-line">
            <i class="fa fa-file"></i>
            <b>Documentos</b>
          </h2>

          <div>
            <%= link_to @url, class: "btn btn-info col-md-6" do %>
              <i class="fa fa-download"></i> Documentos Trabalho
            <% end %>
          </div>

        </section>

        <section>

          <h2 class="h-line">
            <i class="fa fa-file"></i>
            <b>Honorários:</b>
          </h2>

          <span>
            <b>Honorários Percentual:</b>
            <%= @work.rate_percentage %>
          </span>

          <span>
            <b>%:</b>
            <%= @work.rate_percentage_exfield %>
          </span>

          <span>
            <b>Honorários Fixos:</b>
            <%= @work.rate_fixed %>
          </span>

          <span>
            <b>Honorários Fixos Valor:</b>
            <%= @work.rate_fixed_exfield %>
          </span>

          <span>
            <b>Honorários Fixos Trabalho:</b>
            <%= @work.rate_work %>
          </span>

          <span>
            <b>Honorários Parcelamento:</b>
            <%= @work.rate_parceled %>
          </span>

          <span>
            <b>Honorários Parcelamento Detalhes:</b>
            <%= @work.rate_parceled_exfield %>
          </span>

        </section>

        <section>
          <h2 class="h-line">
            <i class="fa fa-university"></i>
            <b>Dados bancários</b>
          </h2>

          <% if @client.bank %>
            <span>
              <b>Banco:</b>
              <%= @client.bank&.name %>
            </span>

            <span>
              <b>Agência:</b>
              <%= @client.bank&.agency %>
            </span>

            <span>
              <b>Conta:</b>
              <%= @client.bank&.account %>
            </span>
          <% else %>
            <i class="fa fa-times"></i>
            <p class="in-line">Não há conta cadastrada</p>
          <% end %>

        </section>

        <section>
          <h2 class="h-line"> <i class="fa fa-asterisk"></i> <b>Informações Adicionais</b></h2>

          <span>
            <strong>Profissão:</strong>
            <%= @client.profession %>
          </span>

          <span>
            <strong>Empresa:</strong>
            <%= @client.company %>
          </span>

          <span>
            <strong>Número de benefício:</strong>
            <%= @client.number_benefit %>
          </span>

        </section>

        <section>
          <h2 class="h-line">
            <i class="fa fa-gavel"></i>
            <b>Poderes</b>
          </h2>

          <% @work.powers.each do |p| %>
            <ul style="padding-left: 20px">
              <li>
                <%= p.description %>
              </li>
            </ul>
          <% end %>

        </section>

        <section>

          <h2 class="h-line">
            <i class="fa fa-phone"></i>
            <b>Outras Informações</b>
          </h2>

          <span>
            <b>Escritório ou Escritórios Associados:</b>
            <% @work.offices.each do |wo| %>
              <span>
                <%= wo.name %>
              </span>
            <% end %>
          </span>

          <span>
            <b>Atendimento Inicial:</b>
            <%= initial_atendence(@work.initial_atendee) %>
          </span>

          <span>
            <b>Advogado Parceiro:</b>
            <%= @work.partner_lawyer %>
          </span>

          <% if @work.recommendation_work %>
            <span>
              <b>Recomendação/Indicação/Origem:</b>
              <%= @work.recommendation_work.client.name %>
            </span>

            <span>
              <b>Comissão da Recomendação:</b>
              <%= @work.recommendation_work.percentage %>
            </span>

            <span>
              <b>Valor da Recomendação:</b>
              <%= @work.recommendation_work.commission %>
            </span>

          <% else %>
            <i class="fa fa-times"></i>
            <p class="in-line">Não há recomendação/indicação.</p>
          <% end %>

        </section>

        <section>

          <h2 class="h-line">
            <i class="fa fa-file"></i>
            <b>Tributário Pis/Cofins insumos:</b>
          </h2>

          <% if @work.tributary %>

            <span>
              <strong>Compensações realizadas nos últimos 5 anos:</strong>
              <%= options_for_radio_yes(@work.tributary.compensation) %>
            </span>

            <span>
              <strong>Compensações de ofício:</strong>
              <%= options_for_radio_yes(@work.tributary.craft) %>
            </span>

            <span>
              <strong>Possui ação judicial:</strong>
              <%= options_for_radio_yes(@work.tributary.lawsuit) %>
            </span>

            <span>
              <strong>Projeção de ganho:</strong>
              <%= @work.tributary.projection %>
            </span>

            <h2 class="pull-left h-line cem_percent">
              <i class="fa fa-file"></i>
              <b>Arquivos</b>
            </h2>

            <%= form_with model: @work, local: true, multipart: true do |f| %>
              <b><%= f.label "Adicionar de arquivos" %></b>
              <div class="">
                <%= f.file_field :archive_file, multiple: true, class:"file-clss" %>
                <small class="form-text text-muted">
                  Formatos aceitos: JPEG, PNG e PDF.
                </small>
              </div>
                <button type="submit" name="button" class="btn btn-primary btn-file-show">Enviar arquivos</button>

            <% end %>

            <% if @work.archive_file.empty? %>
              <i class="fa fa-times"></i>
              <p class="in-line">Não há arquivos anexados.</p>
            <% end %>

            <% @work.archive_file.each do |file| %>
              <span class="col-md-12">
                <li>
                  <%= link_to file.filename, url_for(file), target:'_blank' %>
                  <%= link_to ("X"), delete_archive_file_work_path(@work, file), method: :delete, data: { confirm: "Tem certeza?" }, class:"adj100 btn btn-outline btn-danger btn-remove" %>
                </li>
              </span>
            <% end %>

          <% else %>
            <i class="fa fa-times"></i>
            <p class="in-line pis-warning">Não registro Tributário Pis/Cofins insumos.</p>
          <% end %>

        </section>

      </div>

    </div>
  </div>

  <% if @work.tributary %>
    <div class="x_panel">

      <div class="x_title clearfix">
        <div class="col-md-8">
          <h1 class="">Perd/Comp</h1>
        </div>

          <div class="col-md-4">
            <%= link_to "#", class: "btn btn-outline btn-primary btn-new-perd pull-right",
                data: {
                  toggle: "modal",
                  url: new_perd_launch_path(tributary_id: @work.tributary.id, work_id: @work.id),
                  target: "#modal-general"} do %>
                  <span class="btn-color">Novo lançamento</span>
            <% end %>
          </div>

      </div>

      <div class="x_content">

        <% if perd_comp_to_this_work?(@work.tributary) %>
          <div>

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Número perd/comp</th>
                  <th>Data de envio de perd/comp</th>
                  <th>Data de pagamento de perd/comp</th>
                  <th>Status</th>
                  <th class="table-actions">Ações</th>
                </tr>
              </thead>
              <tbody>
                <% @perdlaunches.each do |perd| %>
                  <tr>
                    <td scope="row"><%= perd.id %></td>

                    <td>
                      <%= perd.perd_number %>
                    </td>

                    <td>
                      <%= perd.shipping_date %>
                    </td>

                    <td> <%= perd.payment_date %></td>

                    <td> <%= options_for_radio_status(perd.status) %></td>

                    <td class="table-action-content">

                      <%= link_to "#", class: "btn btn-primary", 'data-placement':'top', title:'editar',
                          data: {
                            toggle: "modal",
                            url: "/perd_launches/#{perd.id}/edit?work_id=#{@work.id}",
                            target: "#modal-general"} do %>
                            <i class="fa fa-edit"></i>
                      <% end %>

                      <%= link_to perd_launch_path(perd, work_id: @work.id), class:"btn btn-danger",
                          method: :delete, 'data-toggle':"tooltip", 'data-placement':'top', title:'apagar', data: {confirm: "Tem certeza que deseja apagar"} do %>
                          <i class="fa fa-times"></i>
                      <% end %>

                    </td>

                  </tr>
                <% end %>
              </tbody>
            </table>

          </div>

        <% else %>

          <p>Não foram encontradas Perd/Comp para este trabalho.</p>

        <% end %>

      </div>


    </div>
  <% end %>

  <div class="x_panel">

    <div class="x_title clearfix">
      <h1 class="">Tarefas</h1>
    </div>

    <div class="x_content">

      <% if jobs_to_this_work?(@work) %>
        <div>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Tarefa</th>
                <th>Deadline</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <% @jobs.each do |job| %>
                <tr>
                  <td scope="row"><%= job.id %></td>

                  <td>
                    <%= link_to job_path(job) do %>
                      <%= job.description %>
                    <% end %>
                  </td>

                  <td> <%= job.deadline %></td>

                  <td><%= retrieve_value_from_array(options_for_job_status, job.status.to_i) %>
                   </td>

                </tr>
              <% end %>
            </tbody>
          </table>

        </div>

      <% else %>

        <p>Não foram encontradas tarefas para este trabalho.</p>

      <% end %>

    </div>
  </div>

  <%= link_to "Voltar", works_path, class:"btn btn-danger btn-outline left col-md-1" %>

  </div>

    <%= render partial: "shared/modal" %>
