<div class="col-md-12 col-sm-12">
  <div class="x_panel">

    <div class="x_title">
      <h2><%= action %></h2>
      <div class="clearfix"></div>
    </div>

    <div class="x_content">

      <%= form_with model: @job, local: true do |f| %>

        <div class="col-md-12 col-sm-12">

          <div class="col-md-6 col-sm-6">
            <b><%= f.label "Descrição" %></b>
            <%= f.text_field :description, class:"form-control" %>
          </div>

          <div class="col-md-6 col-sm-6">
            <b><%= f.label "Prazo" %></b>
            <%= f.date_field :deadline, class:"form-control" %>
          </div>

        </div>

        <div class="col-md-12 col-sm-12">

          <div class="col-md-6 col-sm-6">

            <b><%= f.label "Cliente" %></b>

            <%= f.collection_select :client_id, options_for_client, :first, :second, {prompt: 'Selecione um cliente', :selected => (@client.id unless @client.nil?)}, {class:'form-control'} %>
          </div>

          <div class="col-md-6 col-sm-6">

            <b><%= f.label "Trabalho" %></b>

            <%= f.collection_select :work_id, options_for_job_work, :first, :second, {prompt: 'Selecione um trabalho', :selected => (@work.id unless @work.nil?)}, {class:'form-control'} %>
          </div>

          <div class="col-md-6 col-sm-6">
            <b><%= f.label "Responsável" %></b>

            <%= f.collection_select :responsable,  options_for_responsible, :name, :name, {}, {class:'form-control'} %>
          </div>

          <div class="col-md-6 col-sm-6">

            <div class="col-sm-6 no-padding">
              <b><%= f.label "Status" %></b>

              <%= f.collection_radio_buttons :status, options_for_job_status, :second, :first do |b|
                b.label(class:"inline-radio") { b.radio_button + b.text }
              end %>
            </div>

            <div class="col-sm-6">
              <b><%= f.label "Prioridade" %></b>

              <%= f.collection_radio_buttons :priority, options_for_job_priority, :second, :first do |b|
                b.label(class:"inline-radio") { b.radio_button + b.text }
              end %>
            </div>

          </div>

        </div>

        <div class="col-md-12">
          <b><%= f.label "Comentários" %></b>
          <%= f.text_area(:comment, rows: 5, class:"form-control") %>
        </div>


        <div class="col-md-12">
          <button type="submit" class="btn btn-primary pull-right">Salvar</button>
          <%= link_to "Cancelar", jobs_path, class:"btn btn-danger pull-right" %>
        </div>

      <% end %>

    </div>

  </div>
</div>
