<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @job.descricao %>
</p>

<p>
  <strong>Prazo:</strong>
  <%= @job.prazo %>
</p>

<p>
  <strong>Responsavel:</strong>
  <%= @job.responsavel %>
</p>

<p>
  <strong>Status:</strong>
  <%= @job.status %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
