<%= form_with model: @client, local: true, id:"customer_type", multipart: true do |f| %>

  <div id="wizard" class="form_wizard wizard_horizontal">
    <ul class="wizard_steps anchor">
      <li>
        <a href="#step-1" class="selected" isdone="1" rel="1">
          <span class="step_no">1</span>
          <span class="step_descr">
            Dados Pessoais
          </span>
        </a>
      </li>
      <li>
        <a href="#step-2" class="disabled" isdone="0" rel="2">
          <span class="step_no">2</span>
          <span class="step_descr">
            Endereço
          </span>
        </a>
      </li>
      <li>
        <a href="#step-3" class="disabled" isdone="0" rel="3">
          <span class="step_no">3</span>
          <span class="step_descr">
            Contato
          </span>
        </a>
      </li>
      <li>
        <a href="#step-4" class="disabled" isdone="0" rel="4">
          <span class="step_no">4</span>
          <span class="step_descr">
            Dados Bancários
          </span>
        </a>
      </li>
      <li>
        <a href="#step-5" class="disabled" isdone="0" rel="5">
          <span class="step_no">5</span>
          <span class="step_descr">
            Informações Adicionais
          </span>
        </a>
      </li>
      <li>
        <a href="#step-6" class="disabled" isdone="0" rel="6">
          <span class="step_no">6</span>
          <span class="step_descr">
            Arquivos
          </span>
        </a>
      </li>
    </ul>

    <div class="stepContainer">
      <div id="step-1" class="content" style="display: block;">
        <div class="col-md-12 col-sm-12 no-padding">
          <div class="col-md-6 col-sm-6">

            <label data-toggle="tooltip" data-placement="top" title="Tooltip on top">Nome*</label>
            <%= f.text_field :name, id:'name', class:"form-control step-1-required", required: true %>
            <small class="form-text text-muted">
              Nome do cliente.
            </small>
          </div>

          <div class="col-md-6 col-sm-6">
            <label>Sobrenome*</label>
            <%= f.text_field :lastname, class:"form-control step-1-required" %>
            <small class="form-text text-muted">
              Sobrenome do cliente.
            </small>
          </div>
        </div>

        <div class="col-md-12 no-padding">

          <div class="col-md-6">
            <label>CPF*</label>
            <%= f.text_field :social_number, class:"form-control step-1-required", 'autocomplete':'off', 'data-mask':'000.000.000-00', placeholder:'000.000.000-00' %>
          </div>

          <div class="col-md-6">
            <label>RG</label>
            <%= f.text_field :general_register, class:"form-control",  pattern:"[a-z]{1,15}" %>
          </div>
        </div>

        <div class="col-md-12 no-padding">

          <div class="col-md-6">
            <label>Data de Nascimento*</label>
            <%= f.date_field :birth, as: :date, value: f.object.try(:strftime, "%d/%m/%Y"), class:"form-control step-1-required", min: Date.new(1902, 01, 01), max: Time.zone.today %>
          </div>
        </div>

        <div class="col-md-12 no-padding">

            <div id="gender" class="col-md-3">
              <label>Gênero*</label>
              <%= f.collection_radio_buttons :gender, options_for_gender, :second, :first do |b| b.label(class:"inline-radio") { b.radio_button(class: 'step-2-required') + b.text } end %>
            </div>

            <div id="civilstatus" class="col-md-3">
              <label>Estado Civil*</label>
              <%= f.collection_radio_buttons :civilstatus, options_for_civilstatus_client, :second, :first do |b| b.label(class:"inline-radio ") { b.radio_button + b.text } end %>
            </div>

            <div id="citizenship" class="col-md-3">
              <label>Naturalidade*</label>
              <%= f.collection_radio_buttons :citizenship, options_for_citizenship, :second, :first do |b| b.label(class:"inline-radio ") { b.radio_button + b.text } end %>
            </div>

            <div id="capacity" class="col-md-3">
              <label>Capacidade*</label>
              <%= f.collection_radio_buttons :capacity, options_for_capacity, :second, :first do |b| b.label(class:"inline-radio ") { b.radio_button(class:"btn-capacity") + b.text } end %>
            </div>

            <div class="col-md-12 add-button-rep">
              <div class="col-md-6 form-group rep-cli no-padding">
                <div class="customer_types no-padding" id="customer_types_add">
                  <%= f.fields_for :customer_types do |io| %>
                    <%= render partial: "customer_type_fields", locals: {f: io} %>
                  <% end %>
                  <%= link_to_add_association "Adicionar", f, :customer_types, class:"btn btn-success hidden", id:"btn-add-rep" %>
                </div>
              </div>
            </div>

          <%= f.radio_button :client_type, '0', class:'hidden', checked: true %>

        </div>

      </div>

      <div id="step-2" class="content" style="display: none;">
        <div class="col-md-12">
          <div class="col-md-6 add-error-cep">
            <label class="cep-label">CEP</label>
            <%= f.text_field :zip, class:"form-control cep",'data-mask': '00000-000', placeholder:"00000-000" %>
          </div>

          <div class="col-md-6">
            <label>Endereço*</label>
            <%= f.text_field :address, class:"form-control address step-2-required" %>
          </div>
        </div>

        <div class="col-md-12">
          <div class="col-md-6">
            <label>Cidade*</label>
            <%= f.text_field :city, class:"form-control city step-2-required" %>
          </div>

          <div class="col-md-6">
            <label>Estado*</label>
            <%= f.select :state, options_for_states, {prompt: 'Escolha um Estado'}, {class: "state-select state step-2-required"} %>
          </div>
        </div>
      </div>

      <div id="step-3" class="content" style="display: none;">
        <div class="col-md-12">

          <div class="col-md-3">
            <div class="col-md-12 no-padding">
              <label>Telefone*</label>
              <%= link_to_add_association "Adicionar", f, :phones, 'data-association-isertion-node' => "#phones-client ol", 'data-association-insertion-method' => "append", class:"btn btn-success btn-add-cli" %>
            </div>

            <div class="col-md-12 no-padding">
              <fieldset id="phones-client">
                <%= f.fields_for :phones do |ph| %>
                  <%= render partial: "phone_fields", locals: {f: ph} %>
                <% end %>
              </fieldset>
            </div>
          </div>

          <div class="col-md-3">
              <div class="col-md-12 no-padding">
                <label>E-mail*</label>
                <%= link_to_add_association "Adicionar", f, :emails, 'data-association-isertion-node' => "#emails-client ol", 'data-association-insertion-method' => "append", class:"btn btn-success btn-add-cli" %>
              </div>

              <div class="col-md-12 no-padding">
                <fieldset id="emails-client">
                  <%= f.fields_for :emails do |e| %>
                    <%= render partial: "email_fields", :locals => {:f => e, :step => '2'} %>
                  <% end %>
                </fieldset>
              </div>
          </div>
        </div>
      </div>

      <div id="step-4" class="content" style="display: none;">

        <div class="col-md-6 no-padding">
            <%= f.fields_for :bank do |b| %>
              <%= render partial: "bank_fields", locals: {f: b} %>
            <% end %>
        </div>

      </div>

      <div id="step-5" class="content" style="display: none;">

        <div class="col-md-12">
          <div class="col-md-6">
            <label>Profissão*</label>
            <%= f.text_field :profession, class:"form-control step-5-required" %>
          </div>

          <div class="col-md-6">
            <label>Empresa Atual</label>
            <%= f.text_field :company, class:"form-control " %>
          </div>
        </div>

        <div class="col-md-12">

          <div class="col-md-6">
            <label>Número de Benefício</label>
            <%= f.text_field :number_benefit, class:"form-control", 'autocomplete':'off', 'data-mask':'000.000.000-0', placeholder:'000.000.000-0'%>
            <small class="form-text text-muted">
              Número do Benefício Previdenciário, caso possua.
            </small>
          </div>

          <div class="col-md-6">
            <label>NIT</label>
            <%= f.text_field :nit, class:"form-control", 'autocomplete':'off', 'data-mask':'000.00000.00-0', placeholder:'000.00000.00-0' %>
          </div>
        </div>

        <div class="col-md-12">

          <div class="col-md-6">
            <label>Nome da Mãe</label>
            <%= f.text_field :mothername, class:"form-control" %>
          </div>

          <div class="col-md-6">

            <label>Senha do meu Inss</label>
            <%= f.text_field :passwdInss, class:"form-control" %>
          </div>


        </div>

      </div>

      <div id="step-6" class="content" style="display: none;">
        <div class="col-md-12">
          <div class="col-md-6">
            <span>Gerar Procuração Simples</span>
          </div>
          <div class="col-md-6">
            <span>Enviar Para Assinatura</span>
          </div>

          <div class="col-md-6">
            <div class="col-md-6">
              <label>Arquivos</label>
              <%= f.file_field :files, multiple: true %>
              <small class="form-text text-muted">
                Formatos aceitos: JPEG, PNG e PDF.
              </small>

              <% if @client.files != nil && !@client.errors.any? %>
                <% @client.files.each do |file| %>
                  <li>
                    <%= link_to file.filename, url_for(file) %> <%= link_to ("X"), client_file_upload_path(@client, file), method: :delete, data: { confirm: "Tem certeza?" }, class:"adj100 btn btn-outline btn-danger btn-remove" %>
                  </li>
                <% end %>
              <% end %>

            </div>
          </div>

        </div>
        <%= render partial: "/clients/option_fields", locals: {f: f} %>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  function leaveAStepCallback(_, context){
    $('.mail').addClass('step-3-required')
    $('.phone').addClass('step-3-required')


    let flag = 3;
    let flag2 = validateSteps(context.fromStep)

    if (context.fromStep == 1) {
      if (!$("input[name='client[gender]']:checked").length > 0) {
        $('#gender').addClass('error-mark-box');
        flag -= 1;
      } else {
        $('#gender').removeClass('error-mark-box');
      }

      if (!$("input[name='client[civilstatus]']:checked").length > 0) {
        $('#civilstatus').addClass('error-mark-box');
        flag -= 1;
      } else {
        $('#civilstatus').removeClass('error-mark-box');
      }

      if (!$("input[name='client[citizenship]']:checked").length > 0) {
        $('#citizenship').addClass('error-mark-box');
        flag -= 1;
      } else {
        $('#citizenship').removeClass('error-mark-box');
      }

      if (!$("input[name='client[capacity]']:checked").length > 0) {
        $('#capacity').addClass('error-mark-box');
        flag -= 1;
      } else {
        $('#capacity').removeClass('error-mark-box');
      }
    }

    let response = flag == 3 ? true : false

    if (response && flag2){
      return true;
    } else {
      return false;
    }
  }
</script>
