  <div class="col-md-12">

    <section class="col-md-4">

      <h2 class="pull-left h-line"> <i class="fa fa-phone"></i> <b>Contato</b></h2>

      <% @client.phones.each do |ph| %>
        <span class="col-md-12">
          <b>Telefone:</b>
          <%= ph.phone %>
        </span>
      <% end %>

      <% @client.emails.each do |em| %>
        <span class="col-md-12">
          <b>E-mail: </b>
          <%= em.email %>
        </span>
      <% end %>

    </section>

    <section class="col-md-4">
      <h2 class="pull-left h-line"> <i class="fa fa-file"></i> <b>Documentos</b></h2>

      <div class="col-md-12">
        <% if @client.documents.nil? %>
        <i class="fa fa-times"></i>
        <p class="in-line">Não há documentos para download</p>
        <% else %>
        <%= link_to @client.documents["aws_link"], class: "btn btn-info col-md-6" do %>
        <i class="fa fa-download"></i> Procuração Simples
        <% end %>
        <% end %>
      </div>

    </section>

    <section class="col-md-4">
      <h2 class="pull-left h-line cem_percent">
        <i class="fa fa-file"></i>
        <b>Arquivos</b>
      </h2>

      <%= form_with model: @client, local: true, id:"customer_type", multipart: true do |f| %>
        <b><%= f.label "Adicionar de arquivos" %></b>
        <div class="">
          <%= f.file_field :files, multiple: true, class:"file-clss" %>
          <small class="form-text text-muted">
            Formatos aceitos: JPEG, PNG e PDF.
          </small>
        </div>
          <button type="submit" name="button" class="btn btn-primary btn-file-show" disabled='true'>Enviar arquivos</button>

      <% end %>

      <% if @client.files.empty? %>
        <i class="fa fa-times"></i>
        <p class="in-line">Não há arquivos anexados.</p>
      <% end %>

      <% @client.files.each do |file| %>
        <span class="col-md-12">
          <li>
            <%= link_to file.filename, url_for(file), target:'_blank' %>
            <%= link_to ("X"), client_file_upload_path(@client, file), method: :delete, data: { confirm: "Tem certeza?" }, class:"adj100 btn btn-outline btn-danger btn-remove" %>
          </li>
        </span>
      <% end %>

    </section>

  </div>
