<%= simple_form_for(@atendimento) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-group">
    <div class="d-inline-flex">
      <%= f.input :nome %>
    </div>
    <div class="d-inline-flex">
      <%= f.input :sobrenome %>
    </div>
    <div class="d-inline-flex">
      <%= f.input :telefone %>
    </div>
    <div class="d-inline-flex">
      <%= f.input :email %>
    </div>
  </div>

  <div class="form-group">
    <div class="d-inline-flex">
      <%= f.input :origem, as: :radio_buttons, collection: [["Indicações (0)", "Indicações"], ["Google (1)", "Google"], ["Parceiros  (2)", "Parceiros"], ["Jusbrasil  (3)", "Jusbrasil"], ["Outros (4)", "Outros"]] %>
    </div>
    <div class="d-inline-flex">
    <%= f.input :status, as: :radio_buttons, collection: [["Pendente (0)", 0], ["Concluído (1)", 1], ["Fechado (2)", 2]] %>
    </div>

    <div class="d-inline-flex">
      <%= f.input :canal, as: :radio_buttons, collection: [["Presencial (0)", 0], ["Telefone Fixo (1)", 1], ["Telefone Celular (2)", 2], ["Whats App (3)", 3], ["Email (4)", 4]] %>
    </div>

    <% #TODO Arrumar Association Belongs or Has Many Aqui %>
    <div class="d-inline-flex">
        <%= f.input :responsavel, collection: Lawyer.all.map{|s|[s.nome, "#{s.nome} #{s.sobrenome}"]} %>
    </div>

    <div class="d-inline-flex">
      <%= f.input :assunto, priority: [ "Previdenciário" ], collection: ["Cível", "Consumidor", "Previdenciário", "Trabalhista", "Família"] %>
    </div>
  </div>

    <%= f.input :notas, as: :text %>

   <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
