<h1>Editando Atendimento: <%= @atendimento.nome %> <% @atendimento.sobrenome %> (<%= @atendimento.id %>) </h1>

<%= render 'form', atendimento: @atendimento %>

<%= link_to 'Show', @atendimento %> |
<%= link_to 'Back', atendimentos_path %>
