<h2>Sign up - Manual by Admin</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characteres no minimo" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :role, as: :radio_buttons, collection: [["Lawyer"], (lawyer_role => true)], ["Paralegal", true], ["Estagiário", true], ["Secretária", true]]%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Salvar" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
