<%= simple_form_for @client do |f| %>
  <div class="form-group">
      <div class="d-inline-flex">
        <%= f.input :name, label: 'Nome', error: 'O nome do cliente é obrigatório' %>
      </div>
      <div class="d-inline-flex row-sm-10">
        <%= f.input :lastname, label: 'Sobrenome' %>
      </div>
    </div>

  <%= f.input :gender, label: 'Gênero', as: :radio_buttons, collection: [['Masculino', 1], ['Feminino', 2]], hint: 'Escolha o sexo',  error: 'É necessário escolher o gênero do seu cliente para o aplicativo funcionar corretamente' %>

  <%= f.input :citizenship, label: 'Nacionalidade', as: :radio_buttons, collection: [["Brasileiro", "Brasileiro"], ["Estrangeiro", "Estrangeiro"]] %>

  <%= f.input :civilstatus, label: 'Estado Civil', as: :radio_buttons, collection: [["Casado", "Casado"], ["Solteiro", "Solteiro"], ["Divorciado", "Divorciado"], ["Viuvo", "Viuvo"], ["União Estável", "Em Uniao Estavel"]] %>

  <%= f.input :capacity, hint: 'Selecione a capacidade', label: 'Capacidade', as: :radio_buttons, collection: [["Capaz", "Capaz"], ["Relativamente Incapaz", "Relativamente Incapaz"], ["Absolutamente Incapaz", "Absolutamente Incapaz"]] %>

  <div class="form-group">
    <div class="d-inline-flex">
      <%= f.input :profession, label: 'Profissão' %>
    </div>
    <div class="d-inline-flex">
      <%= f.input :company, label: 'Empresa Atual' %>
    </div>
    <div class="d-inline-flex">
      <%= f.input :birth, label: 'Data de Nascimento', :as => :string, format: "%d/%m/%Y" %>
    </div>
    <div class="d-inline-flex">
      <%= f.input :mothername, label: 'Nome da Mãe' %>
    </div>
  </div>

  <div class="form-group">
    <div class="d-inline-flex">
      <%= f.input :number_benefit, label: 'Número de Benefício' %>
    </div>
    <div class="d-inline-flex">
      <%= f.input :general_register, label: 'Número de RG' %>
    </div>
    <div class="d-inline-flex">
      <%= f.input :social_number, label: 'CPF' %>
    </div>
  </div>

  <div class="form-group">
    <div class="d-inline-flex">
      <%= f.input :zip, label: 'CEP' %>
    </div>
    <div class="d-inline-flex">
    <%= f.input :adress, label: 'Endereço' %>
    </div>
    <div class="d-inline-flex">
    <%= f.input :city, label: 'Cidade' %>
    </div>
    <div class="d-inline-flex">
    <%= f.input :state, label: 'Estado' %>
    </div>
  </div>

  <div class="form-group">
    <div class="d-inline-flex">
      <%= f.input :email, label: 'E-mail', class: "aria-required" %>
    </div>
    <div class="d-inline-flex">
      <%= f.input :bank %>
    </div>
   <div class="d-inline-flex">
      <%= f.input :agency %>
    </div>
   <div class="d-inline-flex">
      <%= f.input :account %>
    </div>

    <div class="d-inline-flex">
      <%= f.input :telephone, label: 'Telefone' %>
    </div>

   <div class="d-inline-flex">
      <%= f.input :choice, label: 'Consulta', as: :radio_buttons , collection: [["Consulta Simples", true], ["Adicionar Trabalho", false]] %>
   </div>
  </div>

  <%#= yield depois com o tempo criar um yield aqui para instanciar e utilizar os campos repetidos - alterar no cabeçãlho o @ para uma variábel que corresponda ao model invocado %>

  <%= f.button :submit, "Criar Cliente", class: "btn btn-primary" %>

<% end %>




