<div class="col-md-12 col-sm-12">
  <div class="x_panel">

    <div class="x_title">
      <h2>Cadastrando novo cliente</h2>
      <div class="clearfix"></div>
    </div>

    <div class="x_content">
      <%= form_with model: @client, local: true, id:"customer_type", multipart: true do |f| %>

      <%#= f.collection_radio_buttons :status, Work.status, :second, :first do |b|
       b.label { b.radio_button + b.text }
     end %>

        <div class="col-md-12 col-sm-12">

          <div class="col-md-6 col-sm-6">
            <b><%= f.label "Nome" %></b>
            <%= f.text_field :name, class:"form-control" %>
            <small class="form-text text-muted">
              Nome do cliente.
            </small>
          </div>

          <div class="col-md-6 col-sm-6">
            <b><%= f.label "Sobrenome" %></b>
            <%= f.text_field :lastname, class:"form-control" %>
            <small class="form-text text-muted">
              Sobrenome do cliente.
            </small>
          </div>

        </div>

        <div class="col-md-12">

          <div class="col-md-6">
            <b><%= f.label "Número de Benefício" %></b>
            <%= f.text_field :number_benefit, class:"form-control"%>
            <small class="form-text text-muted">
              Número do Benefício Previdenciário, caso possua.
            </small>
          </div>

          <div class="col-md-6">
            <b><%= f.label "Número do RG" %></b>
            <%= f.text_field :general_register, class:"form-control" %>
          </div>

        </div>

        <div class="col-md-12">

          <div class="col-md-6">

            <div class="col-md-6">
              <b><%= f.label "Gênero" %></b>
              <%= f.collection_radio_buttons :gender, options_for_gender, :second, :first do |b|
              b.label(class:"inline-radio") { b.radio_button + b.text }
              end %>

              <b><%= f.label "Naturalidade" %></b>
              <%= f.collection_radio_buttons :citizenship, options_for_citizenship, :second, :first do |b|
              b.label(class:"inline-radio") { b.radio_button + b.text }
              end %>
            </div>

            <div class="col-md-6">
              <b><%= f.label "Estado Civil" %></b>
              <%= f.collection_radio_buttons :civilstatus, options_for_civilstatus_client, :second, :first do |b|
              b.label(class:"inline-radio") { b.radio_button + b.text }
              end %>
            </div>

          </div>

          <div class="col-md-6">
            <b><%= f.label "Data de Nascimento" %></b>
            <%= f.date_field :birth, as: :date, value: f.object.try(:strftime, "%m/%d/%Y"), class:"form-control", required:"required" %>
          </div>

          <div class="col-md-6 grid" id="conds-rates">

            <label
              id="label-client-type"
              for="client_Tipo de Cliente"
              data-exfield="<%= @client.social_number %>"
            >
              <b>Tipo de Cliente</b>
            </label>

            <%= f.collection_radio_buttons :client_type, options_for_client_type, :second, :first do |b|
            b.label { b.radio_button(class:"client-type ") + b.text }
            end %>

            <div id="rate-client-type" data-action-for-client-type="<%= @client.client_type %>">

            </div>

            <div class="col-md-12 form-group rep-cli">

              <div class="customer_types">

                <%= f.fields_for :customer_types do |io| %>
                <% end %>

                <%= link_to_add_association "Adicionar", f, :customer_types, class:"btn btn-success hidden", id:"btn-add-rep" %>
              </div>

          </div>

          </div>

        <div class="col-md-12">

          <div class="col-md-6 no-padding">

            <div class="col-md-4 form-group client">

              <div class="phones">
                <%= f.fields_for :phones do |ph| %>
                  <%= render partial: "phone_fields", locals: {f: ph} %>
                <% end %>
              </div>

              <%= link_to_add_association "Adicionar", f, :phones, class:"btn btn-success btn-add-cli" %>
            </div>

          </div>

          <div class="col-md-6 no-padding">

            <div class="col-md-4 form-group client">

              <div class="emails">
                <%= f.fields_for :emails do |e| %>
                  <%= render partial: "email_fields", locals: {f: e} %>
                <% end %>
              </div>

              <%= link_to_add_association "Adicionar", f, :emails, class:"btn btn-success btn-add-cli" %>
            </div>

          </div>


        </div>

        <div class="col-md-12">

          <div class="col-md-6">
            <b><%= f.label "Nome da Mãe" %></b>
            <%= f.text_field :mothername, class:"form-control" %>
          </div>

          <div class="col-md-6">
            <b><%= f.label "Nit" %></b>
            <%= f.text_field :nit, class:"form-control" %>
          </div>

        </div>

        <div class="col-md-12">

          <div class="col-md-6">
            <b><%= f.label "Profissão"%></b>
            <%= f.text_field :profession, class:"form-control" %>
          </div>

          <div class="col-md-6">
            <b><%= f.label "Empresa Atual"%></b>
            <%= f.text_field :company, class:"form-control" %>
          </div>

        </div>

        <div class="col-md-12">

          <div class="col-md-6">
            <b><%= f.label "CEP" %></b>
            <%= f.text_field :zip, class:"form-control",'data-mask': '00.000-000', placeholder:"00.000-000" %>
          </div>

          <div class="col-md-6">
            <b><%= f.label "Endereço" %></b>
            <%= f.text_field :address, class:"form-control" %>
          </div>

        </div>

        <div class="col-md-12">

          <div class="col-md-6">
            <b><%= f.label "Cidade" %></b>
            <%= f.text_field :city, class:"form-control" %>
          </div>

          <div class="col-md-6">
            <b><%= f.label "Estado" %></b>
            <%= f.text_field :state, class:"form-control" %>
          </div>

        </div>

        <div class="col-md-12">

          <div class="col-md-6 ">
             <b><%= f.label "Capacidade" %></b>
             <%= f.collection_radio_buttons :capacity, options_for_capacity, :second, :first do |b|
             b.label(class:"inline-radio") { b.radio_button + b.text }
             end %>
          </div>

          <div class="col-md-6">
              <b><%= f.label "Consulta" %></b>
              <%= f.collection_radio_buttons :choice, options_for_choice, :second, :first do |b|
              b.label(class:"inline-radio") { b.radio_button + b.text }
              end %>
          </div>

        </div>

        <div class="col-md-6">

          <%= f.fields_for :bank do |b| %>

            <div class="col-md-4 no-padding">
              <b><%= f.label "Banco" %></b>
              <%= b.text_field :name, placeholder:"Número do Banco", class:"form-control" %>
            </div>

            <div class="col-md-4">
              <b><%= f.label "Agência" %></b>
              <%= b.text_field :agency, placeholder:"Agência", class:"form-control" %>
            </div>

            <div class="col-md-4 no-padding">
              <b><%= f.label "Conta" %></b>
              <%= b.text_field :account, placeholder:"Conta", class:"form-control" %>
            </div>

          <% end %>

        </div>

        <div class="col-md-6">

          <div class="col-md-6 no-padding">
            <b><%= f.label "Upload de arquivos" %></b>
            <%= f.file_field :files, multiple: true %>

            <% if client.errors.any? %>
              <div id="error_explanation">
                <ul>
                  <% client.errors.each do |error| %>
                    <p><%= error.full_message %></p>
                  <% end %>
                </ul>
              </div>
            <% else %>

              <% if @client.files != nil %>
                <% @client.files.each do |file| %>
                  <li>
                    <%= link_to file.filename, url_for(file) %>
                    <%= link_to ("X"), client_file_upload_path(@client, file), method: :delete, data: { confirm: "Tem certeza?" }, class:"adj100 btn btn-outline btn-danger btn-remove" %>
                  </li>

                <% end %>
              <% end %>
            <% end %>

          </div>
        </div>

        <div class="col-md-12">

          <div class="col-md-6 no-padding">
            <b><%= f.label 'Senha do meu Inss' %></b>
            <%= f.text_field :passwdInss, class:"form-control" %>
          </div>

          <div class="col-lg-6 form-group">
            <b><%= f.label :status %></b>
            <%= f.collection_radio_buttons :status, options_for_status_client, :second, :first do |b|
            b.label(class:"inline-radio") { b.radio_button + b.text }
            end %>
          </div>
          
        </div>

      </div>

        <div class="col-md-12">
          <button type="submit" name="button" class="btn btn-primary pull-right">Salvar</button>

          <%= link_to "Cancelar", clients_path, class:"btn btn-danger btn-outline pull-right" %>
        </div>

      <% end %>

    </div>

  <%= render partial: "shared/modal" %>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" defer></script>
