<div class="col-md-12 col-sm-12">

  <h1 class="pull-left mg-left">Clientes</h1>

  <%= link_to new_client_path, class:"btn btn-success pull-right btn-new" do %>
    <i class="fa fa-plus"></i> Novo Cliente
  <% end %>

  <div class="x_panel">
    <div class="x_content">
      <div class="row">
        <div class="col-sm-12">

          <table id="datatable-list" class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline" cellspacing="0" role="grid" aria-describedby="datatable-responsive_info">
            <thead>
              <tr role="row">
                <th>#</th>
                <th>Nome</th>
                <th>RG</th>
                <th>CPF/CNPJ</th>
                <th>E-mail</th>
                <th>Cidade / Estado</th>
                <th>Número Banefício</th>
                <th>NIT</th>
                <th>Senha meu Inss</th>
                <th>Telefone</th>
                <th class="table-actions">Ações</th>
              </tr>
            </thead>
            <tbody>
                <% @clients.each do |c| %>
                  <tr role="row">
                    <td><%= c.id %></td>
                    <td><%= c.name %> <%= c.lastname %></td>
                    <td><%= c.general_register %></td>
                    <td><%= c.social_number %></td>
                    <td>
                      <% c.emails.each do |e| %>
                        <%= e.email %>
                      <% end %>
                    </td>
                    <td><%= c.city %> / <%= c.state %></td>
                    <td><%= c.number_benefit %></td>
                    <td><%= c.nit %></td>
                    <td><%= c.passwdInss %></td>
                    <td>
                      <% c.phones.each do |p| %>
                        <%= p.phone %>
                      <% end %>
                    </td>
                    <td class="table-action-content">

                      <%= link_to new_job_path(client_id: c), class:'btn btn-success', 'data-toggle':"tooltip", 'data-placement':'top', title:'nova tarefa' do %>
                        <i class="fa fa-gavel"></i>
                      <% end %>

                      <%= link_to client_path(c), class:"btn btn-info", 'data-toggle':"tooltip", 'data-placement':'top', title:'ver' do %>
                        <i class="fa fa-eye"></i>
                      <% end %>

                      <%= link_to edit_client_path(c), class:"btn btn-primary", 'data-toggle':"tooltip", 'data-placement':'top', title:'editar' do %>
                        <i class="fa fa-edit"></i>
                      <% end %>

                      <%= link_to client_path(c), class:"btn btn-danger", 'data-toggle':"tooltip", 'data-placement':'top', title:'apagar',
                          method: :delete, data: {confirm: "Tem certeza que deseja apagar #{c.name} #{c.lastname}"} do %>
                          <i class="fa fa-times"></i>
                      <% end %>

                    </td>
                  </tr>
                <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
