<div class="col-md-12 col-sm-12">
  <div class="x_panel">

    <div class="x_title clearfix">
      <h1 class="pull-left"><%= @client.name + ' ' + @client.lastname %></h1>
        <span> <%= link_to "", edit_client_path(@client), {class:"btn btn-primary fa fa-edit btncent"} %></span>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
      </ul>
    </div>


    <div class="x_content">

      <div class="col-md-12">

        <section class="col-md-4">

            <h2 class="pull-left col-md-12 h-line"> <i class="fa fa-user"></i> <b>Informações Pessoais</b></h2>

            <span class="col-md-12">
              <b>Genero:</b>
              <%= gender_name(@client.gender) %>
            </span>

            <span class="col-md-12">
              <b>Nacionalidade:</b>
              <%= @client.citizenship %>
            </span>

            <span class="col-md-12">
              <b>Estado civil:</b>
              <%= @civilstatus %>
            </span>

            <span class="col-md-12">
              <b>Nascimento:</b>
              <%= @client.birth %>
            </span>

            <span class="col-md-12">
              <b>RG:</b>
              <%= @client.general_register %>
            </span>

            <span class="col-md-12">
              <b>CPF:</b>
              <%= @client.social_number %>
            </span>

            <span class="col-md-12">
              <strong>Mae:</strong>
              <%= @client.mothername %>
            </span>

            <span class="col-md-12">
              <strong>Capacidade:</strong>
              <%= @client.capacity %>
            </span>

        </section>

        <section class="col-md-4">

            <h2 class="pull-left h-line"> <i class="fa fa-home"></i> <b>Enderço</b></h2>

            <span class="col-md-12">
              <b>Endereco:</b>
              <%= @client.address %>
            </span>

              <span class="col-md-12">
                <b>Cidade:</b>
                <%= @client.city %>
              </span>

              <span class="col-md-12">
                <b>Estado:</b>
                <%= @client.state %>
              </span>

              <span class="col-md-12">
                <b>CEP:</b>
                <%= @client.zip %>
              </span>

        </section>

        <section class="col-md-4">
          <h2 class="pull-left h-line"> <i class="fa fa-file"></i> <b>Documentos</b></h2>

          <span class="col-md-12">
            <b>Documentos:</b>
            <#% Ajeitar Códig aqui  %>
          </span>

          <div class="col-md-12">
            <%= link_to @url, class: "btn btn-info col-md-6" do %>
              <i class="fa fa-download"></i> Procuração Simples
            <% end %>
          </div>


        </section>

      </div>

      <div class="col-md-12">

        <section class="col-md-4">

          <h2 class="pull-left h-line"> <i class="fa fa-phone"></i> <b>Contato</b></h2>

          <% @client.phones.each do |ph| %>
            <span class="col-md-12">
              <b>Telefone:</b>
              <%= ph.phone %>
            </span>
          <% end %>

          <% @client.emails.each do |em| %>
            <span class="col-md-12">
              <b>E-mail: </b>
              <%= em.email %>
            </span>
          <% end %>

        </section>

        <section class="col-md-4">
          <h2 class="pull-left h-line"> <i class="fa fa-university"></i> <b>Informações Bancárias</b></h2>

          <span class="col-md-12">
            <b>Banco:</b>
            <%= @client.bank&.name %>
          </span>

          <span class="col-md-12">
            <b>Agência:</b>
            <%= @client.bank&.agency %>
          </span>

          <span class="col-md-12">
            <b>Conta:</b>
            <%= @client.bank&.account %>
          </span>

        </section>

        <section class="col-md-4">
          <h2 class="pull-left h-line"> <i class="fa fa-asterisk"></i> <b>Informações Adicionais</b></h2>

          <span class="col-md-12">
            <strong>Profissao:</strong>
            <%= @client.profession %>
          </span>

          <span class="col-md-12">
            <strong>Empresa atual:</strong>
            <%= @client.company %>
          </span>

          <span class="col-md-12">
            <strong>Número do Benefício:</strong>
            <%= @client.number_benefit %>
          </span>

        </section>

      </div>
    </div>
  </div>

  <div class="x_panel">

    <div class="x_title clearfix">
      <h1 class="pull-left">Trabalhos Pendentes</h1>
      <%= link_to "", new_work_path(client: @client), {class:"btn btn-success fa fa-plus btncent"} %>

      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
      </ul>
    </div>

    <div class="x_content">

      <div class="col-md-12">

        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Matéria - Ação</th>
              <th>Número</th>
              <th>Pasta</th>
              <th>Funções</th>
            </tr>
          </thead>
          <tbody>
              <% @url_work.each_with_index do |w, ind| %>
                <tr></tr>
                  <th scope="row"><%= ind+1 %></th>
                  <% wo = Work.find_by_id(w.id) %>
                  <th><%= link_to "#{wo.subject} - #{wo.action}", work_path(wo.id) %></th>
                  <th><%= wo.number %></th>
                  <th><%= wo.folder %></th>
                  <th><%= render "shared/links_works" %></th>
                  <td></td>
                </tr>
              <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>


  <div class="x_panel">

    <div class="x_title clearfix">
      <h1 class="pull-left">Jobs Pendentes</h1>
      <%= link_to "", new_job_path(client: @client), {class:"btn btn-success fa fa-plus btncent"} %>
      <ul class="nav navbar-right panel_toolbox float-right">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
      </ul>
    </div>

    <div class="x_content">

      <div class="col-md-12">

        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Job</th>
              <th>Prazo</th>
              <th>Responsável</th>
              <th>Status</th>
              <th>Funções</th>
            </tr>
          </thead>
          <tbody>
            <% @url_job.each_with_index do |w, ind| %>
              <tr></tr>
                <th scope="row"><%= ind+1 %></th>
                <% wo = Job.find_by_id(w.id) %>
                <th><%= link_to "#{wo.description}", job_path(wo.id) %></th>
                <th><%= wo.deadline %></th>
                <th><%= wo.responsable %></th>
                <th><%= wo.status %></th>
                <th><%= render "shared/links_jobs" %></th>
                <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>

  <%= link_to "Voltar", clients_path, class:"btn btn-danger btn-outline left col-md-1" %>


  </div>
