<div class="col-md-12 col-sm-12">
  <div class="x_panel">

    <div class="x_title clearfix">
      <h1 class="pull-left"><%= @client.name + ' ' + @client.lastname.to_s %></h1>

      <ul class="nav navbar-right panel_toolbox">
        <li>
          <span id="status-client" class="btn">
            <%= retrieve_value_from_array(options_for_status_client, @client.status) %>
          </span>
        </li>

        <li>
          <span>
            <%= link_to '',
              edit_client_path(@client, type: retrieve_type_to_link(@client.client_type)),
              {class:"btn fa fa-edit btncent btn-link"} %>
          </span>
        </li>

        <li>
          <a class="collapse-link btncent">
            <i class="fa fa-chevron-up"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="x_content">
      <% if @type == 'pf' %>
        <%= render partial: "clients/shared/show_pf"%>
      <% elsif @type == 'pj' %>
        <%= render partial: "clients/shared/show_pj"%>
      <% elsif @type == 'cont' %>
        <%= render partial: "clients/shared/show_cont"%>
      <% elsif @type == 'rep' %>
        <%= render partial: "clients/shared/show_rep"%>
      <% end %>
    </div>
  </div>

  <div class="x_panel">

    <div class="x_title clearfix">
      <h1 class="pull-left">Trabalhos Pendentes</h1>
    </div>

    <div class="x_content">

      <div class="col-md-12">

        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Procedimento</th>
              <th>Assunto</th>
              <th>Ação</th>
            </tr>
          </thead>
          <tbody>
            <% @client.works.each do |work| %>
              <td><%= work.id %></td>
              <td>
                <% work.procedures.each do |p| %>
                  <%= p.description %>
                <% end %>
              </td>
              <td><%= work.subject %></td>
              <td><%= work.action %></td>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>

  <div class="x_panel">

    <div class="x_title clearfix">
      <h1 class="pull-left">Tarefas Pendentes</h1>
    </div>

    <div class="x_content">

      <% if jobs_to_this_client?(@client) %>
        <div>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Tarefa</th>
                <th>Trabalho</th>
                <th>Deadline</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <% @jobs.each do |job| %>
                <tr>
                  <td scope="row"><%= job.id %></td>

                  <td>
                    <%= link_to job_path(job) do %>
                      <%= job.description %>
                    <% end %>
                  </td>

                  <td scope="row"><%= job.work_id %></td>

                  <td> <%= job.deadline %></td>

                  <td><%= retrieve_value_from_array(options_for_job_status, job.status.to_i) %>
                   </td>

                </tr>
              <% end %>
            </tbody>
          </table>

        </div>

      <% else %>

        <p>Não foram encontradas tarefas para este cliente.</p>

      <% end %>

    </div>
  </div>

  <%= link_to "Voltar", clients_path, class:"btn btn-danger btn-outline left col-md-1" %>
</div>
<%= render partial: "shared/modal" %>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" defer></script>
