<h1>Dashboard</h1>
<p><small>(pages/dashboard)</small></p>

<h1><%= link_to "Novo Atendimento", new_attendance_path, class: "btn btn-secondary" %> </h1>

<h1><%= link_to "Novo Cliente", new_client_path, class: "btn btn-secondary" %></h1>

<h1><%= link_to "Novo Procedimento (work)", new_work_path, class: "btn btn-secondary" %></h1>

<h1><%= link_to "Novo Job", new_job_path, class: "btn btn-secondary" %></h1>

<% if current_user.lawyer_role? || current_user.paralegal_role? %>
  <p>Visível apenas para advogados e paralegais</p>
<% end %>

<h1><%= link_to "Novo Advogado", new_lawyer_path, class: "btn btn-dark" %></h1>

<h1><%= link_to "Novo Escritório", new_office_path, class: "btn btn-dark" %></h1>

