<h1>Editando Atendimento: <%= @attendance.name %> <% @attendance.lastname %> (<%= @attendance.id %>) </h1>

<%= render 'form', attendance: @attendance %>

<%= link_to 'Mostrar', @attendance %> |
<%= link_to 'Voltar', attendances_path %>
